<nb-card>
  <nb-card-body>

    <nb-tabset>
      <nb-tab
        tabTitle="New Cases"
        tabIcon="plus-circle-outline"
        badgeText="0"
        badgePosition="top right"
        badgeStatus="success"
      >
        <p>List of <strong>New Cases Today</strong>.</p>
      </nb-tab>
      <nb-tab
        tabTitle="Active Cases"
        tabIcon="calendar-outline"
      >
        <p>List of <strong>Active Cases Today</strong>.</p>
      </nb-tab>
      <nb-tab
        tabTitle="Recovered"
        tabIcon="bookmark-outline"
      >
        <p>List of <strong>Recovered Till Today</strong>.</p>
      </nb-tab>
      <nb-tab
        tabTitle="Quarantined"
        tabIcon="home-outline"
      >
        <p>List of <strong>Quarantined Till Today</strong>.</p>
      </nb-tab>
      <nb-tab
        tabTitle="Isolated"
        tabIcon="person-outline"
      >
        <p>List of <strong>Isolated Till Today</strong>.</p>
      </nb-tab>
      <nb-tab
        tabTitle="Swabs"
        tabIcon="thermometer-plus-outline"
      >
        <p>List of <strong>Swabs Till Today</strong>.</p>
      </nb-tab>
      <nb-tab
        tabTitle="PCR"
        tabIcon="checkmark-square-outline"
      >
        <p>List of <strong>PCR Till Today</strong>.</p>
      </nb-tab>
      <nb-tab
        tabTitle="Returnees"
        tabIcon="people-outline"
        badgeText="12"
        badgeStatus="warning"
      >
        <p>List of <strong>Returnees Till Today</strong>.</p>
      </nb-tab>
      <nb-tab
        tabTitle="Deaths"
        tabIcon="person-delete-outline"
        badgeText="99+"
        badgeStatus="danger"
      >
        <p>List of <strong>Deaths Till Today</strong>.</p>
      </nb-tab>
    </nb-tabset>

    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
    Originally, nebula was a name for any diffuse astronomical object,
    including galaxies beyond the Milky Way.
  </nb-card-body>
</nb-card>
