registry=https://pkgs.dev.azure.com/risavkarna/_packaging/risavkarna/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/risavkarna/_packaging/risavkarna/npm/registry/:username=risavkarna 
//pkgs.dev.azure.com/risavkarna/_packaging/risavkarna/npm/registry/:_password=[bGppNmFkc3VjY3ZrcGRoNWtnMno1eWZsZmh5Zjd4ZDdmM21hcnJncTdtcnE1ZXl4b2RwcQ] 
//pkgs.dev.azure.com/risavkarna/_packaging/risavkarna/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/risavkarna/_packaging/risavkarna/npm/:username=risavkarna 
//pkgs.dev.azure.com/risavkarna/_packaging/risavkarna/npm/:_password=[bGppNmFkc3VjY3ZrcGRoNWtnMno1eWZsZmh5Zjd4ZDdmM21hcnJncTdtcnE1ZXl4b2RwcQ] 
//pkgs.dev.azure.com/risavkarna/_packaging/risavkarna/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
