registry=https://pkgs.dev.azure.com/risavkarna/covidsimteam/_packaging/prox-e-feed/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/risavkarna/covidsimteam/_packaging/prox-e-feed/npm/registry/:username=risavkarna 
//pkgs.dev.azure.com/risavkarna/covidsimteam/_packaging/prox-e-feed/npm/registry/:_password=[ZGx5bWk1cG41NXFpcmhuNXFqdnFtbXV4ZnVnaTVjNHUzdGN3YW83YXRoNnljbmd3dm95cQ] 
//pkgs.dev.azure.com/risavkarna/covidsimteam/_packaging/prox-e-feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/risavkarna/covidsimteam/_packaging/prox-e-feed/npm/:username=risavkarna 
//pkgs.dev.azure.com/risavkarna/covidsimteam/_packaging/prox-e-feed/npm/:_password=[ZGx5bWk1cG41NXFpcmhuNXFqdnFtbXV4ZnVnaTVjNHUzdGN3YW83YXRoNnljbmd3dm95cQ] 
//pkgs.dev.azure.com/risavkarna/covidsimteam/_packaging/prox-e-feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth toke
