

nb-accordion-item-header {
  background-color: #5f8df0;

}
nb-stepper{
  height:500px;
  width:700px;
}

nb-accordion {
  padding: 10px;

}



nb-card-body.example-items-rows {
  align-items: center;
}

nb-checkbox:not(:only-child) {
  margin-right: 1.5rem;
}

nb-layout-header{
  text-align: center;
  padding-left:550px;
}
