
 <nb-layout center>
  <nb-layout-header>A फाराम कोभभड १९ का संकास्पद र निस्चित केसको लागी रिपोर्टिङ फाराम </nb-layout-header>

  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <nb-stepper orientation="vertical">
          <nb-step label>
            <div class="col-md-12">
              <div class="form-group">
            <label for="inputDate" class="label">राष्ट्रिय स्वास्थ्य निकायालाई रिपोर्टिंग गरिएको मिति(दिन/महिना/वर्ष):</label>
            <input [nbDatepicker]="datepicker">
            <nb-datepicker #datepicker></nb-datepicker> <br/>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="inputFirstName" class="label">रिपोर्टिंग गरिएको संस्थाको नाम र ठेगाना:</label>
              <input type="text" nbInput placeholder="नाम र ठेगाना">
              </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="" class="label"
                    >भित्रिएको प्वाइन्ट (PoE) /क्वारेन्टिनमा पत्ता लगाइएका</label
                  >
                  <div class="col-sm-6">
                    <nb-radio-group id="inputCaseStatus" class="row">
                      <nb-radio>हो</nb-radio>
                      <nb-radio>होइन</nb-radio>
                      <nb-radio>थाहा छैन</nb-radio>
                    </nb-radio-group>
                    </div>
                  </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                  <label for="inputDate" class="label">यदि हो भने,मिति(दिन/महिना/वर्ष):</label>
                  <input [nbDatepicker]="datepicker">
                  <nb-datepicker #datepicker></nb-datepicker> <br/>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="inputFirstName" class="label">भित्रिएको प्वाइन्ट (PoE) /क्वारेन्टिनको नाम:</label>
                    <input type="text" nbInput placeholder="नाम">
                    </div>
                    </div>

                    <nb-accordion>
                      <nb-accordion-item>
                       <nb-accordion-item-header>भाग १. केसको व्यक्तिगत जानकारीहरु</nb-accordion-item-header>
                       <nb-accordion-item-body>

                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="inputId" class="label">केसको यूनिक परिचय (Case Epi Id): </label>
                            <input type="text" nbInput placeholder="">
                            </div>
                            </div>

                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="inputFirstName" class="label">नाम: </label>
                                <input type="text" nbInput placeholder="नाम">
                                </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="inputFirstName" class="label">आमा बुवा श्रीमान श्रीमतीको नाम: </label>
                                    <input type="text" nbInput placeholder="नाम र ठेगाना">
                                    </div>
                                    </div>


                                    <div class="col-md-12">
                                      <div class="form-group">
                                    <label for="inputDate" class="label">उमेर(दिन/महिना): </label>
                                    <input [nbDatepicker]="datepicker">
                                    <nb-datepicker #datepicker></nb-datepicker> <br/>
                                    </div>
                                  </div>

                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <label for="inputFirstName" class="label">राष्ट्रियता: </label>
                                      <input type="text" nbInput placeholder="">
                                      </div>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label for="inputFirstName" class="label">फोन नम्बर: </label>
                                          <input type="text" nbInput placeholder="">
                                          </div>
                                          </div>


                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label for="inputFirstName" class="label">
                                             अन्य सम्पर्क फोन नम्बर: </label>
                                          <input type="text" nbInput placeholder="">
                                          </div>
                                          </div>

                                          <nb-accordion>
                                            <nb-accordion-item>
                                             <nb-accordion-item-header>हालको ठेगाना</nb-accordion-item-header>
                                             <nb-accordion-item-body>

                                              <div class="col-md-12">
                                                <div class="form-group">
                                                  <label for="inputFirstName" class="label">देश: </label>
                                                  <input type="text" nbInput placeholder="">
                                                  </div>
                                                  </div>

                                                  <div class="col-md-12">
                                                    <div class="form-group">
                                                      <label for="inputFirstName" class="label">प्रदेश: </label>
                                                      <input type="text" nbInput placeholder="">
                                                      </div>
                                                      </div>


                                                      <div class="col-md-12">
                                                        <div class="form-group">
                                                          <label for="inputFirstName" class="label">जिल्ला: </label>
                                                          <input type="text" nbInput placeholder="">
                                                          </div>
                                                          </div>

                                                          <div class="col-md-12">
                                                            <div class="form-group">
                                                              <label for="inputFirstName" class="label">वार्ड नं: </label>
                                                              <input type="text" nbInput placeholder="">
                                                              </div>
                                                              </div>

                                                              <div class="col-md-12">
                                                                <div class="form-group">
                                                                  <label for="inputFirstName" class="label">नगरपालिका: </label>
                                                                  <input type="text" nbInput placeholder="">
                                                                  </div>
                                                                  </div>

                                                                  <div class="col-md-12">
                                                                    <div class="form-group">
                                                                      <label for="inputFirstName" class="label">टोल / चिन्ह(): </label>
                                                                      <input type="text" nbInput placeholder="">
                                                                      </div>
                                                                      </div>







                                             </nb-accordion-item-body>
                                            </nb-accordion-item>
                                           </nb-accordion>


                                           <nb-accordion>
                                            <nb-accordion-item>
                                             <nb-accordion-item-header>स्थाई ठेगाना, हालको ठेगाना फरक छ भने मात्र भर्नुहोस्:</nb-accordion-item-header>
                                             <nb-accordion-item-body>

                                              <div class="col-md-12">
                                                <div class="form-group">
                                                  <label for="inputFirstName" class="label">देश: </label>
                                                  <input type="text" nbInput placeholder="">
                                                  </div>
                                                  </div>

                                                  <div class="col-md-12">
                                                    <div class="form-group">
                                                      <label for="inputFirstName" class="label">प्रदेश: </label>
                                                      <input type="text" nbInput placeholder="">
                                                      </div>
                                                      </div>


                                                      <div class="col-md-12">
                                                        <div class="form-group">
                                                          <label for="inputFirstName" class="label">जिल्ला: </label>
                                                          <input type="text" nbInput placeholder="">
                                                          </div>
                                                          </div>

                                                          <div class="col-md-12">
                                                            <div class="form-group">
                                                              <label for="inputFirstName" class="label">वार्ड नं: </label>
                                                              <input type="text" nbInput placeholder="">
                                                              </div>
                                                              </div>

                                                              <div class="col-md-12">
                                                                <div class="form-group">
                                                                  <label for="inputFirstName" class="label">नगरपालिका: </label>
                                                                  <input type="text" nbInput placeholder="">
                                                                  </div>
                                                                  </div>

                                                                  <div class="col-md-12">
                                                                    <div class="form-group">
                                                                      <label for="inputFirstName" class="label">टोल / चिन्ह(): </label>
                                                                      <input type="text" nbInput placeholder="">
                                                                      </div>
                                                                      </div>

                                                                      <div class="col-md-12">
                                                                        <div class="form-group">
                                                                          <label for="inputFirstName" class="label">हालको स्थान(होटल / क्वारेन्टिन / घर)): </label>
                                                                          <input type="text" nbInput placeholder="">
                                                                          </div>
                                                                          </div>







                                             </nb-accordion-item-body>
                                            </nb-accordion-item>
                                           </nb-accordion>








<div class=""><br></div>











                       </nb-accordion-item-body>
                      </nb-accordion-item>
                     </nb-accordion>


                     <nb-accordion>
                      <nb-accordion-item>
                       <nb-accordion-item-header>भाग २. क्लिनिकल जानकारी</nb-accordion-item-header>
                       <nb-accordion-item-body>

                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="" class="label"
                              >२.१ हाल लक्षण देखिएको </label
                            >
                            <div class="col-sm-6">
                              <nb-radio-group id="inputCaseStatus" class="row">
                                <nb-radio>छ</nb-radio>
                                <nb-radio>छैन(यदि छैन भने,२.३ को उत्तर दिनु आवश्यक छैन)</nb-radio>

                              </nb-radio-group>
                              </div>
                            </div>
                            </div>


                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="" class="label"
                                  >२.२ यदि छैन भने, पछिल्लो ४ हप्तामा कोभिड -19(को लक्षण देखिएको)</label
                                >
                                <div class="col-sm-6">
                                  <nb-radio-group id="inputCaseStatus" class="row">
                                    <nb-radio>छ</nb-radio>
                                    <nb-radio>छैन(तलका लक्षणहरू हेर्नुहोस्, यदि छैन भने,२.३ को उत्तर दिनु आवश्यक छैन)</nb-radio>

                                  </nb-radio-group>
                                  </div>
                                </div>
                                </div>


                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="inputFirstName" class="label">२.३ यदि २.१ र २.२ मा छैन भने,केस अनुसन्धानकरताले टेस्टिंगको चिन्हको सुचि तयार गरनुहोला
                                      : </label>

                                    </div>
                                    </div>

                                    <div class="col-md-12">
                                      <div class="form-group">
                                    <label for="inputDate" class="label">यदि २.१ र २.२ मा उत्तर छ भने, लक्षणहरू देखा परेको मिति(दिन/महिना): </label>
                                    <input [nbDatepicker]="datepicker">
                                    <nb-datepicker #datepicker></nb-datepicker> <br/>
                                    </div>
                                  </div>

                       </nb-accordion-item-body>
                      </nb-accordion-item>
                     </nb-accordion>







            <button nbButton disabled nbStepperNext>prev</button>
            <button nbButton nbStepperNext>next</button>
          </nb-step>
          <nb-step label>

            <button nbButton nbStepperPrevious>prev</button>
            <button nbButton nbStepperNext>next</button>
          </nb-step>
          <nb-step label>

            <button nbButton nbStepperPrevious>prev</button>
            <button nbButton nbStepperNext>next</button>
          </nb-step>
          <nb-step label>

            <button nbButton nbStepperPrevious>prev</button>
            <button nbButton disabled nbStepperNext>next</button>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>

  </nb-layout-column>

  <nb-layout-footer>Interim reporting form for confirmed or probable cases of COVID-19</nb-layout-footer>
</nb-layout>


