
:host {
  display: block;
}

nb-card.form-cont {
  border: 1px solid transparent;
}

.form-a {
  display: block;
  margin-top: 1rem;

  label, mat-radio-button {
    margin-right: 1rem;
  }

  input {
    border-bottom: 1px solid black;
  }

  textarea {
    min-height: 3rem;
  }
}


nb-card-body {
  overflow: visible;
  padding-top: 0;

  > * {
    margin-top: 1rem;
  }
}


.full-name-inputs,
.validation-checkboxes {
  display: flex;
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}

.checkbox-radio {
  display: flex;
}

nb-radio {
  padding-left: 10px;
  margin-left: 24px;

}
.radiotitle {

  margin-left: 10px;
}
