<nb-card class="form-cont">
  <nb-card-body>
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label>{{ t.fa.uniqueEpiId | translate }}</mat-label>
          <input matInput autocomplete="off">
          <!-- <mat-hint>E.g. Lalit:324234</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label class="label">{{ t.fab.naam | translate}} </mat-label>
          <input matInput autocomplete="off">
        </mat-form-field>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="label">{{ t.fa.parentsOrSpouse | translate }}</label>
              <input type="text" nbInput>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label class="label"> {{ t.fa.age | translate }}
                <input [nbDatepicker]="agePicker">
                <nb-datepicker #agePicker></nb-datepicker> <br />
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="label"> {{ t.fa.country | translate}}
                <input type="text" nbInput placeholder="">
              </label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="label"> {{ t.fa.phoneNumber | translate}}
                <input type="text" nbInput placeholder="">
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="label">
                {{ t.fa.phoneOther | translate}}
                <input type="text" nbInput placeholder="">
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
