<nb-card>
  <nb-card-header>{{ title | titlecase }} </nb-card-header>
  <nb-card-body>
    <div leaflet #map
      [leafletOptions]="options"
      (leafletMapReady)="onMapReady($event)"
      (click)="onMapClick($event)"
      [leafletLayersControl]="layersControl">
    </div>
  </nb-card-body>
</nb-card>

<ng-container *ngIf="readyToRenderChart && displayOwnCharts">
  <cov-sero-prevalence [districtPcrDataSets]="[districtPcrData[0]]" districtNamesSero="districtNamesSero"></cov-sero-prevalence>
</ng-container>
<ng-container *ngIf="readyToRenderChart && displayOwnCharts">
  <cov-sero-prevalence [districtPcrDataSets]="[districtPcrData[1]]" districtNamesSero="districtNamesRatio"></cov-sero-prevalence>
</ng-container>
