ui
ui/*
hi/dashboard/projects/hgraph/node_modules/
node_modules
.DS_Store
*.package_lock.json
.npm/
hi/dashboard/dist/

hi/prox-e/package-lock.json
**/dist/**
**/runsync.log

hi/cov-hub/src/environments/apiConf.ts
hi/couch-potato/db/ns_*
*.log
hi/couch-potato/db/*.json-*
