<nb-card accent="primary">
    <nb-card-body>
      <div class="calendar-wrapper">
        <button nbButton (click)="prevDay()">Prev</button>
        <button nbButton (click)="today()">Today</button>
        <button nbButton (click)="nextDay()">Next</button>

        <cov-mat-calendar
          #calendar
          (monthSelected)="monthSelected($event)"
          (selected)="selectedDate"
          (selectedChange)="dateChanged()">
        </cov-mat-calendar>
      </div>
    </nb-card-body>
</nb-card>
