<nb-card accent="info">
  <nb-card-header>Calen</nb-card-header>
  <nb-card-body>
    <full-calendar [options]="calendarOptions"></full-calendar>
  </nb-card-body>
</nb-card>

<!-- <div class="card-row">
  <div class="card-col">
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
    <nb-card size="small">
      <nb-card-header>Small card</nb-card-header>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="large">
      <nb-card-header>Large card</nb-card-header>
      <nb-card-body>
        <full-calendar [options]="calendarOptions"></full-calendar>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->
