@import "~material-icons/iconfont/material-icons.css";
@import '@angular/material/prebuilt-themes/purple-green.css';

.button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}