<nb-layout center>
  <nb-layout-header>Annex 3: Form B2 –Contact Follow-up Form/Symptoms Diary(कन्टयाक्टफऱोअपफारम/ऱक्षणडायरी)</nb-layout-header>

  <nb-layout-column>
    <nb-card>
      <nb-card-body>


    <div class="col-md-12">
      <div class="form-group">
        <label for="inputFirstName" class="label">केसकोनाम</label>
        <input type="text" nbInput placeholder="नाम र ठेगाना">
        </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="inputFirstName" class="label">केसआइडी÷क्ऱस्टरनम्बर(यदिऱागूभएमा)</label>
            <input type="text" nbInput placeholder="नाम र ठेगाना">
            </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="inputFirstName" class="label">कन्टयाककोनाम</label>
                <input type="text" nbInput placeholder="नाम र ठेगाना">
                </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="inputFirstName" class="label">कन्टयाककोआईडीनम्बर(C...):</label>
                    <input type="text" nbInput placeholder="नाम र ठेगाना">
                    </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group">
                    <label for="inputDate" class="label">फऱो अप को ममतत(दिन/मदिना/साऱ) </label>
                    <input [nbDatepicker]="datepicker">
                    <nb-datepicker #datepicker></nb-datepicker> <br/>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="label" >
                      ऱक्षण छैन</div>
                    <div class="col-sm-6">
                      <nb-radio-group id="inputCaseStatus" class="row">
                        <nb-radio>कननैछैन</nb-radio>
                        </nb-radio-group>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="label" >
                        ज्वोरा(≥३८°C)</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छ</nb-radio>
                          <nb-radio>छैन</nb-radio>
                          </nb-radio-group>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="label" >
                          नाक बगेकोि</div>
                        <div class="col-sm-6">
                          <nb-radio-group id="inputCaseStatus" class="row">
                            <nb-radio>छ</nb-radio>
                            <nb-radio>छैन</nb-radio>
                            </nb-radio-group>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="label" >
                            कक</div>
                          <div class="col-sm-6">
                            <nb-radio-group id="inputCaseStatus" class="row">
                              <nb-radio>छ</nb-radio>
                              <nb-radio>छैन</nb-radio>
                              </nb-radio-group>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="label" >
                              घाटी िनिेको</div>
                            <div class="col-sm-6">
                              <nb-radio-group id="inputCaseStatus" class="row">
                                <nb-radio>छ</nb-radio>
                                <nb-radio>छैन</nb-radio>
                                </nb-radio-group>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="label" >
                                सास फेनु गािो भएको</div>
                              <div class="col-sm-6">
                                <nb-radio-group id="inputCaseStatus" class="row">
                                  <nb-radio>छ</nb-radio>
                                  <nb-radio>छैन</nb-radio>
                                  </nb-radio-group>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label for="inputFirstName" class="label">अन्य ऱक्षण(उल्ऱेिगननु</label>
                                  <input type="text" nbInput placeholder="नाम र ठेगाना">
                                  </div>
                                  </div>


                                  <nb-accordion>
                                    <nb-accordion-item>
                                     <nb-accordion-item-header>अन्न्तमफ्ऱोअपमाकन््याककोवचगुकरण–कन््याकफ्ऱोअपदटमकोप्रयोगकोऱागीमात्रै</nb-accordion-item-header>
                                     <nb-accordion-item-body>

                                      <div class="form-group">
                                        <div class="label" >
                                          कृपयाचिन्िऱगाउननिोस</div>
                                        <div class="col-sm-6">
                                          <nb-radio-group id="inputCaseStatus" class="row">
                                            <nb-radio>कदिल्यैबबरामीनभएको/केसिोइन</nb-radio>
                                            <nb-radio>सेकेन्डरीकेसपनष्टीभएको</nb-radio>
                                            <nb-radio>ऱस्टफ्ऱोअप</nb-radio>
                                            <nb-radio>शॊकास्पिकेस</nb-radio>
                                            <nb-radio>सम्भाववतकेस</nb-radio>
                                            </nb-radio-group>
                                          </div>
                                        </div>

                                     </nb-accordion-item-body>
                                    </nb-accordion-item>
                                   </nb-accordion>







</nb-card-body>
</nb-card>
</nb-layout-column>

  <nb-layout-footer>Form B2: Contact follow-up reporting form –for close contactsof confirmed cases(Day 14–21</nb-layout-footer>
</nb-layout>
