
<form>
  <nb-card class="form-cont">
    <nb-card-body>
      <nb-card>
      <div class="row">

        <div class="col-md-4 col-lg-4">
          <div class="form-a">
            <label class="title">{{ t.fa.nasopharyngeal | translate }}</label>
            <nb-radio-group id="inputCaseStatus" name="Nasopharyngeal" class="row">
              <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
              <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label>{{ t.fa.sampleCollectionDate | translate }}</mat-label>
            <input matInput autocomplete="off">
            <!-- <mat-hint>E.g. Lalit:324234</mat-hint> -->
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label> {{ t.fa.sampleSendDate | translate }} </mat-label>
            <input matInput placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>
      </div>



      <div class="row">

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label>{{ t.fa.resultsDate | translate }}</mat-label>
            <input matInput autocomplete="off">
          </mat-form-field>
        </div>





        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label> {{ t.fa.results | translate }} </mat-label>
            <input matInput placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>

      </div>
    </nb-card>
    <nb-card>

      <div class="row">

        <div class="col-md-4 col-lg-4">
          <div class="form-a">
            <label class="title">{{ t.fa.oropharyngeal | translate }}</label>
            <nb-radio-group id="inputCaseStatus" name="Oropharyngeal" class="row">
              <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
              <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label>{{ t.fa.sampleCollectionDate | translate }}</mat-label>
            <input matInput autocomplete="off">
            <!-- <mat-hint>E.g. Lalit:324234</mat-hint> -->
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label> {{ t.fa.sampleSendDate | translate }} </mat-label>
            <input matInput placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>
      </div>



      <div class="row">

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label>{{ t.fa.resultsDate | translate }}</mat-label>
            <input matInput autocomplete="off">
          </mat-form-field>
        </div>





        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label> {{ t.fa.results | translate }} </mat-label>
            <input matInput placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>

      </div>
    </nb-card>
    <nb-card>

      <div class="row">

        <div class="col-md-4 col-lg-4">
          <div class="form-a">
            <label class="title">{{ t.fa.others | translate }}</label>
            <nb-radio-group id="inputCaseStatus" name="lab-others" class="row">
              <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
              <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label>{{ t.fa.sampleCollectionDate | translate }}</mat-label>
            <input matInput autocomplete="off">
            <!-- <mat-hint>E.g. Lalit:324234</mat-hint> -->
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label> {{ t.fa.sampleSendDate | translate }} </mat-label>
            <input matInput placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>
      </div>



      <div class="row">

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label>{{ t.fa.resultsDate | translate }}</mat-label>
            <input matInput autocomplete="off">
          </mat-form-field>
        </div>





        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label> {{ t.fa.results | translate }} </mat-label>
            <input matInput placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label> {{ t.fa.others2 | translate }} </mat-label>
            <input matInput placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>


      </div>
    </nb-card>
<nb-card>

      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="form-a">
            <label class="title">{{ t.fa.sampleSentLocation | translate }}</label>
            <nb-radio-group id="inputCaseStatus" name="lab-category" class="row">
              <nb-radio>NPHL</nb-radio>
              <nb-radio>Non-NPHL</nb-radio>
          </nb-radio-group>
          </div>
        </div>


         <div class="col-md-6 col-lg-6">
          <div class="form-a">
            <label class="title">{{ t.fa.lab | translate }}</label>
            <nb-radio-group id="inputCaseStatus" name="other-lab" class="row">
              <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
              <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-6">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label> {{ t.fa.testName | translate }} </mat-label>
            <input matInput placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-6">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label> {{ t.fa.results2 | translate }} </mat-label>
            <input matInput placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>



      </div>
    </nb-card>






    </nb-card-body>
  </nb-card>
</form>



