<form>
  <div class="col-md-12">
    <div class="form-group">
      <label for="" class="label">{{ t.fa.nasopharyngeal | translate }}
        <div class="col-sm-6">
          <nb-radio-group id="inputCaseStatus" class="row">
            <nb-radio>छ</nb-radio>
            <nb-radio>छैन</nb-radio>

          </nb-radio-group>
        </div>
      </label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label for="sampleCollectionDate" class="label">{{ t.fa.sampleCollectionDate | translate }}
        <input [nbDatepicker]="sampleCollectionDatePicker">
        <nb-datepicker #sampleCollectionDatePicker></nb-datepicker>
      </label>
      <br />
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label for="inputDate" class="label">नमुना पठाएको भमती (भदन/मभिना/वर्ष) </label>
      <input [nbDatepicker]="datepicker">
      <nb-datepicker #datepicker></nb-datepicker> <br />
    </div>
  </div>



  <div class="col-md-12">
    <div class="form-group">
      <label for="inputDate" class="label">यभद नमुना जााँचको नभतजा थािा भयो भने(नभतजा थािा भएको भमती
        (भदन/मभिना/वर्ष)) </label>
      <input [nbDatepicker]="resultDatepicker">
      <nb-datepicker #resultDatepicker></nb-datepicker> <br />
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label class="label">यभद नमुना जााँचको नभतजा थािा भयो भने(नभतजा) </label>
      <input type="text" nbInput placeholder="">
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label for="" class="label">Oropharyngeal (Throat) -घािीबाि</label>
      <div class="col-sm-6">
        <nb-radio-group id="inputCaseStatus" class="row">
          <nb-radio>छ</nb-radio>
          <nb-radio>छैन</nb-radio>

        </nb-radio-group>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label for="inputDate" class="label">नमुना संकलन
        गररएको भमती (भदन/मभिना/वर्ष) </label>
      <input [nbDatepicker]="datepicker">
      <nb-datepicker #datepicker></nb-datepicker> <br />
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label for="inputDate" class="label">नमुना पठाएको भमती (भदन/मभिना/वर्ष) </label>
      <input [nbDatepicker]="datepicker">
      <nb-datepicker #datepicker></nb-datepicker> <br />
    </div>
  </div>



  <div class="col-md-12">
    <div class="form-group">
      <label for="inputDate" class="label">यभद नमुना जााँचको नभतजा थािा भयो भने(नभतजा थािा भएको भमती
        (भदन/मभिना/वर्ष)) </label>
      <input [nbDatepicker]="datepicker">
      <nb-datepicker #datepicker></nb-datepicker> <br />
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label class="label">यभद नमुना जााँचको नभतजा थािा भयो भने(नभतजा) </label>
      <input type="text" nbInput placeholder="">
    </div>
  </div>


  <div class="col-md-12">
    <div class="form-group">
      <label for="" class="label">अन्य (उल्लेि गनुष______________)</label>
      <div class="col-sm-6">
        <nb-radio-group id="inputCaseStatus" class="row">
          <nb-radio>छ</nb-radio>
          <nb-radio>छैन</nb-radio>

        </nb-radio-group>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label for="inputDate" class="label">नमुना संकलन
        गररएको भमती (भदन/मभिना/वर्ष) </label>
      <input [nbDatepicker]="datepicker">
      <nb-datepicker #datepicker></nb-datepicker> <br />
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label for="inputDate" class="label">नमुना पठाएको भमती (भदन/मभिना/वर्ष) </label>
      <input [nbDatepicker]="datepicker">
      <nb-datepicker #datepicker></nb-datepicker> <br />
    </div>
  </div>



  <div class="col-md-12">
    <div class="form-group">
      <label for="inputDate" class="label">यभद नमुना जााँचको नभतजा थािा भयो भने(नभतजा थािा भएको भमती
        (भदन/मभिना/वर्ष)) </label>
      <input [nbDatepicker]="datepicker">
      <nb-datepicker #datepicker></nb-datepicker> <br />
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label class="label">यभद नमुना जााँचको नभतजा थािा भयो भने(नभतजा) </label>
      <input type="text" nbInput placeholder="">
    </div>
  </div>


  <div class="col-md-12">
    <div class="form-group">
      <label class="label">अन्य भए (उल्लेि गन </label>
      <input type="text" nbInput placeholder="">
    </div>
  </div>


  <div class="col-md-12">
    <div class="form-group">
      <label for="" class="label">नमुना पठाइएको स्थानीः)</label>
      <div class="col-sm-6">
        <nb-radio-group id="inputCaseStatus" class="row">
          <nb-radio>NPHL</nb-radio>
          <nb-radio>Non-NPHL</nb-radio>

        </nb-radio-group>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <div class="form-group">
      <label for="" class="label">कोभभड-१९ पत्ता लगाउन स्वास्थ्य संस्थामा/अन्य कु नै प्रयोगशालामा कु नै
        जााँच गररएको छ?</label>
      <div class="col-sm-6">
        <nb-radio-group id="inputCaseStatus" class="row">
          <nb-radio>छै न</nb-radio>
          <nb-radio>छ</nb-radio>

        </nb-radio-group>
      </div>
    </div>
  </div>



  <div class="col-md-12">
    <div class="form-group">
      <label class="label">यभद छ भने, जााँचको नामीः </label>
      <input type="text" nbInput placeholder="">
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label class="label">जााँचको नभतजाीः </label>
      <input type="text" nbInput placeholder="">
    </div>
  </div>
</form>
