<div class="header-container">
  <div class="logo-container">
    <a
    href="#"
    (click)="toggleSidebar()"
    matRipple
    [matRippleUnbounded]="true"
    [matRippleCentered]="true"
    class="sidebar-toggle"
    >
    <nb-icon icon="menu-2-outline"></nb-icon>
  </a>
  <a class="logo" href="#" (click)="navigateHome()">CovData<strong>Hub</strong></a>
</div>

</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action
    matRipple
    class="control-item"
    [matRippleUnbounded]="true"
    [matRippleCentered]="true"
    >
    <nb-search
    matRipple
    [matRippleUnbounded]="true"
    [matRippleCentered]="true"
    [matRippleRadius]="36"
    type="rotate-layout"
    tag="rotate-layout"
    ></nb-search>
  </nb-action>
  <nb-action class="user-action" >
    <nb-user [nbContextMenu]="userMenu"
    [onlyPicture]="userPictureOnly"
    [name]="user?.name"
    [picture]="user?.picture">
  </nb-user>
</nb-action>
<nb-action
class="control-item"
matRipple
[matRippleUnbounded]="true"
[matRippleCentered]="true"
>
<button
matRipple
nbButton
outline
nbPopover="Toggle light/dark"
nbPopoverPlacement="bottom"
(click)="changeTheme(currentTheme == 'dark' ? 'material-light' : 'dark')">
<nb-icon [icon]="currentTheme == 'dark' ? 'bulb-outline' : 'moon-outline'"></nb-icon>
</button>
</nb-action>
<nb-action *ngIf="isPrivilegedUser">
  <button
  nbButton
  matRipple
  outline (click)="logout()"
  nbPopover="Log out"
  nbPopoverPlacement="bottom"
  >
  <nb-icon icon="log-out-outline"></nb-icon>
</button>
</nb-action>
<!-- <nb-action>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> <nb-icon [icon]="theme.icon"></nb-icon> {{ " " + theme.name }}</nb-option>
  </nb-select>
</nb-action> -->
</nb-actions>
</div>
