@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;


  .logo-container {
    display: flex;
    align-items: left;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
    padding: 10px;
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: left;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(margin-right, 1 rem);
      @include nb-rtl(margin-left, 1 rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.25rem;
      }
    }

    .logo {
      padding: 0 0.25 rem;
      font-size: 1.5 rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    // .control-item {
    //   display: none;
    // }
    .user-action {
      border: none;
      padding: 0;
    }

    .logo {
      padding: 0;
      font-size: 1.25rem;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}


span.title {
  padding-left: 10px;
  margin-left: 5px;
  vertical-align: text-top;
}
