<div class="header-container">
  <div class="logo-container">
    <a href="#" (click)="toggleSidebar()" matRipple [matRippleUnbounded]="true" [matRippleCentered]="true"
      class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">CovData<strong>Hub</strong></a>
  </div>

</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action matRipple class="control-item" [matRippleUnbounded]="true" [matRippleCentered]="true">
      <nb-search matRipple [matRippleUnbounded]="true" [matRippleCentered]="true" [matRippleRadius]="36"
        type="rotate-layout" tag="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" matRipple [matRippleUnbounded]="true" [matRippleCentered]="true">
      <button matRipple nbButton outline nbPopover="Toggle light/dark" nbPopoverPlacement="bottom"
        (click)="changeTheme(currentTheme == 'dark' ? 'default' : 'dark')">
        <nb-icon [icon]="currentTheme == 'dark' ? 'bulb-outline' : 'moon-outline'"></nb-icon>
      </button>
    </nb-action>
    <nb-action class="user-action" *ngIf="isPrivilegedUser">
      <button nbButton [nbContextMenu]="getMenuItems()"><nb-icon icon="person"> </nb-icon></button>
    </nb-action>
  </nb-actions>
</div>
