<nb-layout center>
  <nb-layout-header>Form B1(कन्टयाक्टअन्तर्ाार्ााफारम</nb-layout-header>

  <nb-layout-column>
    <nb-card>
      <nb-card-body>


    <div class="col-md-12">
      <div class="form-group">
        <label for="inputFirstName" class="label">केसकोनाम</label>
        <input type="text" nbInput placeholder="नाम र ठेगाना">
        </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="inputFirstName" class="label">केसआइडी÷क्ऱस्टरनम्बर(यदिऱागूभएमा)</label>
            <input type="text" nbInput placeholder="नाम र ठेगाना">
            </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="inputFirstName" class="label">कन्टयाककोनाम</label>
                <input type="text" nbInput placeholder="नाम र ठेगाना">
                </div>
                </div>

                <!--PART 1-->

                <nb-accordion>
                  <nb-accordion-item>
                   <nb-accordion-item-header>कन्ट्याक्टकोव्यक्तिगतजानकारी</nb-accordion-item-header>
                   <nb-accordion-item-body>

                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="inputFirstName" class="label"> नाम</label>
                        <input type="text" nbInput placeholder="">
                        </div>
                        </div>

                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="inputFirstName" class="label">के ससंगकोसम्बन्धः </label>
                            <input type="text" nbInput placeholder="">
                            </div>
                            </div>

                            <div class="col-md-12">
                              <div class="form-group">
                            <label for="inputDate" class="label">जन्मममती/उमेरः </label>
                            <input [nbDatepicker]="datepicker">
                            <nb-datepicker #datepicker></nb-datepicker> <br/>
                            </div>
                          </div>


                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="" class="label"
                                  >मिगः </label
                                >
                                <div class="col-sm-6">
                                  <nb-radio-group id="inputCaseStatus" class="row">
                                    <nb-radio>पुरुष</nb-radio>
                                    <nb-radio>ममहिा</nb-radio>
                                    <nb-radio>अन्य</nb-radio>

                                  </nb-radio-group>
                                  </div>
                                </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="inputFirstName" class="label">धमम </label>
                                    <input type="text" nbInput placeholder="">
                                    </div>
                                    </div>

                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <label for="inputFirstName" class="label">जामतः </label>
                                        <input type="text" nbInput placeholder="">
                                        </div>
                                        </div>




          </div>
        </div>
        <div class ="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputPhoneNumber1" class="label"
              >ानया सामपारका उोने नुमबेर</label
              >
              <input
              type="number"
              nbInput
              fullWidth
              id="PhoneNumber1"
              placeholder=""
              />
            </div>
          </div>
        </div>

                    <nb-accordion>
                      <nb-accordion-item>
                       <nb-accordion-item-header>हालको ठेगाना</nb-accordion-item-header>
                       <nb-accordion-item-body>

                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="inputFirstName" class="label">देश: </label>
                            <input type="text" nbInput placeholder="">
                            </div>
                            </div>

                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="inputFirstName" class="label">प्रदेश: </label>
                                <input type="text" nbInput placeholder="">
                                </div>
                                </div>


                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="inputFirstName" class="label">जिल्ला: </label>
                                    <input type="text" nbInput placeholder="">
                                    </div>
                                    </div>

                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <label for="inputFirstName" class="label">वार्ड नं: </label>
                                        <input type="text" nbInput placeholder="">
                                        </div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="form-group">
                                            <label for="inputFirstName" class="label">नगरपालिका: </label>
                                            <input type="text" nbInput placeholder="">
                                            </div>
                                            </div>

                                            <div class="col-md-12">
                                              <div class="form-group">
                                                <label for="inputFirstName" class="label">टोल / चिन्ह(): </label>
                                                <input type="text" nbInput placeholder="">
                                                </div>
                                                </div>







                       </nb-accordion-item-body>
                      </nb-accordion-item>
                     </nb-accordion>




                     <nb-accordion>
                      <nb-accordion-item>
                       <nb-accordion-item-header>हािकोस्थानकोनाम(अस्थाइरुपमाकु नैक्वारेक्तिनसेिर, होटेिवासोसमानठाउँमाबसेकोभएमात्रभनुमहोस्)</nb-accordion-item-header>
                       <nb-accordion-item-body>

                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="inputFirstName" class="label">टेमिफोननम्बरः </label>
                            <input type="text" nbInput placeholder="">
                            </div>
                            </div>

                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="inputFirstName" class="label">वैकक्तिकसम्पकमनंम्बरः </label>
                                <input type="text" nbInput placeholder="">
                                </div>
                                </div>


                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="inputFirstName" class="label">इमेिठेगानाः </label>
                                    <input type="text" nbInput placeholder="">
                                    </div>
                                    </div>

                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <label for="inputFirstName" class="label">राष्ट्रीयताः </label>
                                        <input type="text" nbInput placeholder="">
                                        </div>
                                        </div>






                       </nb-accordion-item-body>
                      </nb-accordion-item>
                     </nb-accordion>

                   </nb-accordion-item-body>
                  </nb-accordion-item>
                 </nb-accordion>


<!--PART2-->

                 <nb-accordion>
                  <nb-accordion-item>
                   <nb-accordion-item-header>कन्ट्याक्टकोव्यक्तिगतजानकारी</nb-accordion-item-header>
                   <nb-accordion-item-body>

                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="inputFirstName" class="label"> नाम</label>
                        <input type="text" nbInput placeholder="">
                        </div>
                        </div>

                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="inputFirstName" class="label">के ससंगकोसम्बन्धः </label>
                            <input type="text" nbInput placeholder="">
                            </div>
                            </div>

                            <div class="col-md-12">
                              <div class="form-group">
                            <label for="inputDate" class="label">जन्मममती/उमेरः </label>
                            <input [nbDatepicker]="datepicker">
                            <nb-datepicker #datepicker></nb-datepicker> <br/>
                            </div>
                          </div>


                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="" class="label"
                                  >मिगः </label
                                >
                                <div class="col-sm-6">
                                  <nb-radio-group id="inputCaseStatus" class="row">
                                    <nb-radio>पुरुष</nb-radio>
                                    <nb-radio>ममहिा</nb-radio>
                                    <nb-radio>अन्य</nb-radio>

                                  </nb-radio-group>
                                  </div>
                                </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="inputFirstName" class="label">ठेगानाः </label>
                                    <input type="text" nbInput placeholder="">
                                    </div>
                                    </div>

                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <label for="inputFirstName" class="label">सम्पकमनंम्बरः </label>
                                        <input type="text" nbInput placeholder="">
                                        </div>
                                        </div>

                                      </nb-accordion-item-body>
                                    </nb-accordion-item>
                                   </nb-accordion>

                                   <!--PART 3-->

                                   <nb-accordion>
                                    <nb-accordion-item>
                                     <nb-accordion-item-header>अन्यएक्सपोजर(Exposure) कोजानकारी</nb-accordion-item-header>
                                     <nb-accordion-item-body>




                                              <div class="col-md-12">
                                                <div class="form-group">
                                                  <label for="" class="label"
                                                    >किरयाक्टिेमवगत१४मदनमादेशमभत्रकतैयात्रागरेकोछ? </label
                                                  >
                                                  <div class="col-sm-6">
                                                    <nb-radio-group id="inputCaseStatus" class="row">
                                                      <nb-radio>छ</nb-radio>
                                                      <nb-radio>छैन</nb-radio>
                                                      <nb-radio>थाहाछैन</nb-radio>

                                                    </nb-radio-group>
                                                    </div>
                                                  </div>
                                                  </div>

                                                  <div class="col-md-12">
                                                    <div class="form-group">
                                                  <label for="inputDate" class="label">यमदछभने,यात्रागरेकोममती(मदन/ममहना/वषम) </label>
                                                  <input [nbDatepicker]="datepicker">
                                                  <nb-datepicker #datepicker></nb-datepicker> <br/>
                                                  </div>
                                                </div>

                                                  <div class="col-md-12">
                                                    <div class="form-group">
                                                      <label for="inputFirstName" class="label">यात्रागरेकोक्षेत्रहरुः </label>
                                                      <input type="text" nbInput placeholder="">
                                                      </div>
                                                      </div>

                                                      <div class="col-md-12">
                                                        <div class="form-group">
                                                          <label for="inputFirstName" class="label">यात्रागरेकाशहरहरुः
                                                          </label>
                                                          <input type="text" nbInput placeholder="">
                                                          </div>
                                                          </div>


                                                          <div class="col-md-12">
                                                            <div class="form-group">
                                                              <label for="" class="label"
                                                                >किरयाक्टिेमवगत१४मदनमादेशबामहरकतैयात्रागरेकोछ? </label
                                                              >
                                                              <div class="col-sm-6">
                                                                <nb-radio-group id="inputCaseStatus" class="row">
                                                                  <nb-radio>छ</nb-radio>
                                                                  <nb-radio>छैन</nb-radio>
                                                                  <nb-radio>थाहाछैन</nb-radio>

                                                                </nb-radio-group>
                                                                </div>
                                                              </div>
                                                              </div>

                                                              <div class="col-md-12">
                                                                <div class="form-group">
                                                              <label for="inputDate" class="label">यमदछभने,यात्रागरेकोममती(मदन/ममहना/वषम) </label>
                                                              <input [nbDatepicker]="datepicker">
                                                              <nb-datepicker #datepicker></nb-datepicker> <br/>
                                                              </div>
                                                            </div>

                                                              <div class="col-md-12">
                                                                <div class="form-group">
                                                                  <label for="inputFirstName" class="label">यात्रागरेकादेशहरुः.. </label>
                                                                  <input type="text" nbInput placeholder="">
                                                                  </div>
                                                                  </div>

                                                                  <div class="col-md-12">
                                                                    <div class="form-group">
                                                                      <label for="inputFirstName" class="label">यात्रागरेकाशहरहरुः
                                                                      </label>
                                                                      <input type="text" nbInput placeholder="">
                                                                      </div>
                                                                      </div>


                                                          <div class="col-md-12">
                                                            <div class="form-group">
                                                              <label for="" class="label"
                                                                >मवगत१४मदनमभत्रकेकन्ट्याक्टकोरोनासंक्रममतवाकोरोनासंक्रमणकोआसंकागररएकोव्यक्तिकोनमजककोसम्पकम मारहेकोमथयो? </label
                                                              >
                                                              <div class="col-sm-6">
                                                                <nb-radio-group id="inputCaseStatus" class="row">
                                                                  <nb-radio> मथयो</nb-radio>
                                                                  <nb-radio>मथएन</nb-radio>
                                                                  <nb-radio>थाहाछैन</nb-radio>

                                                                </nb-radio-group>
                                                                </div>
                                                              </div>
                                                              </div>

                                                              <div class="col-md-12">
                                                                <div class="form-group">
                                                              <label for="inputDate" class="label">यमदछभने,यात्रागरेकोममती(मदन/ममहना/वषम) </label>
                                                              <input [nbDatepicker]="datepicker">
                                                              <nb-datepicker #datepicker></nb-datepicker> <br/>
                                                              </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                              <div class="form-group">
                                                                <label for="" class="label"
                                                                  >पेशा(स्थानवासंस्थासमेतउल्ेिगने)</label
                                                                >
                                                                <div class="col-sm-6">
                                                                  <nb-radio-group id="inputCaseStatus" class="row">
                                                                    <nb-radio> स्वास्थ्यकमी</nb-radio>
                                                                    <nb-radio>भेटेरीनरी</nb-radio>
                                                                    <nb-radio>स्वास्थ्यप्रयोगशािाकायमकताम</nb-radio>
                                                                    <nb-radio> मवद्याथी/मशक्षक</nb-radio>
                                                                    <nb-radio>सेक्युररटी</nb-radio>
                                                                    <nb-radio>फोहोरव्यवस्थापनकममचारी</nb-radio>
                                                                    <nb-radio>  होटेि/रेस्टुरेि/बारहरु</nb-radio>
                                                                    <nb-radio>अन्य</nb-radio>


                                                                  </nb-radio-group>
                                                                  </div>
                                                                </div>
                                                                </div>



                                                        </nb-accordion-item-body>
                                                      </nb-accordion-item>
                                                     </nb-accordion>

                                                     <!--PART 4-->

                                                     <nb-accordion>
                                                      <nb-accordion-item>
                                                       <nb-accordion-item-header>४. एक्सपोजरसम्बन्धीजानकारी( कन्ट्याक्टस्वास्थ्यकमीभएमात्रभनुमहोस्)</nb-accordion-item-header>
                                                       <nb-accordion-item-body>

                                                        <div class="col-md-12">
                                                          <div class="form-group">
                                                            <label for="inputFirstName" class="label"> पद(िुिाउनुहोस्)</label>
                                                            <input type="text" nbInput placeholder="">
                                                            </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                              <div class="form-group">
                                                                <label for="inputFirstName" class="label">कायमरतसंस्थाकोनामः </label>
                                                                <input type="text" nbInput placeholder="">
                                                                </div>
                                                                </div>

                                                                <div class="col-md-12">
                                                                  <div class="form-group">
                                                                    <label for="inputFirstName" class="label">स्टेशनःमफभरक्तिनीक/आइसोिेसनवाडम/आइ.सी.यू/ल्याब/अन्य(िुिाउनुहोस्). </label>
                                                                    <input type="text" nbInput placeholder="">
                                                                    </div>
                                                                    </div>




                                                                <div class="col-md-12">
                                                                  <div class="form-group">
                                                                    <label for="" class="label"
                                                                      >केउपयुिपीपीईप्रयोगगररएकोमथयो?</label
                                                                    >
                                                                    <div class="col-sm-6">
                                                                      <nb-radio-group id="inputCaseStatus" class="row">
                                                                        <nb-radio>□छ□</nb-radio>
                                                                        <nb-radio>छैन□ </nb-radio>
                                                                        <nb-radio>थाहाछैन</nb-radio>

                                                                      </nb-radio-group>
                                                                      </div>
                                                                    </div>
                                                                    </div>

                                                                    <div class="col-md-12">
                                                                      <div class="form-group">
                                                                    <label for="inputDate" class="label">पमहिोपटकसम्पकमभएकोममती(मदन/ममहना/वषम) </label>
                                                                    <input [nbDatepicker]="datepicker">
                                                                    <nb-datepicker #datepicker></nb-datepicker> <br/>
                                                                    </div>
                                                                  </div>

                                                                  <div class="col-md-12">
                                                                    <div class="form-group">
                                                                  <label for="inputDate" class="label">अक्तन्तमपटकसम्पकमभएकोममती(मदन/ममहना/वषम).. </label>
                                                                  <input [nbDatepicker]="datepicker">
                                                                  <nb-datepicker #datepicker></nb-datepicker> <br/>
                                                                  </div>
                                                                </div>

                                                                <div class="col-md-12">
                                                                  <div class="form-group">
                                                                    <label for="inputFirstName" class="label">कु नैपमनसान्दमभमककु राः </label>
                                                                    <input type="text" nbInput placeholder="">
                                                                    </div>
                                                                    </div>

                                                                    <div class="col-md-12">
                                                                      <div class="form-group">
                                                                        <label for="" class="label"
                                                                          >राःएक्सपोजरकोआधारमासम्पकम कोवगीकरणः</label
                                                                        >
                                                                        <div class="col-sm-6">
                                                                          <nb-radio-group id="inputCaseStatus" class="row">
                                                                            <nb-radio>िोज</nb-radio>
                                                                            <nb-radio>क्याजुयि </nb-radio>


                                                                          </nb-radio-group>
                                                                          </div>
                                                                        </div>
                                                                        </div>




                                                                          </nb-accordion-item-body>
                                                                        </nb-accordion-item>
                                                                       </nb-accordion>

                                                                       <!--PART 5-->

                                                                       <nb-accordion>
                                                                        <nb-accordion-item>
                                                                         <nb-accordion-item-header>५. एक्सपोजरसम्बन्धीजानकारी(स्वास्थ्यकमीभन्दाअन्यभएमा)</nb-accordion-item-header>
                                                                         <nb-accordion-item-body>






                                                                                  <div class="col-md-12">
                                                                                    <div class="form-group">
                                                                                      <label for="" class="label"
                                                                                        >सम्पकमभएकोस्थानः</label
                                                                                      >
                                                                                      <div class="col-sm-6">
                                                                                        <nb-radio-group id="inputCaseStatus" class="row">
                                                                                          <nb-radio>घर</nb-radio>
                                                                                          <nb-radio>यातायात </nb-radio>
                                                                                          <nb-radio> मवद्यािय/काम</nb-radio>
                                                                                          <nb-radio>आमसभा </nb-radio>
                                                                                          <nb-radio>अन्य</nb-radio>


                                                                                        </nb-radio-group>
                                                                                        </div>
                                                                                      </div>
                                                                                      </div>

                                                                                      <div class="col-md-12">
                                                                                        <div class="form-group">
                                                                                      <label for="inputDate" class="label">पमहिोपटकसम्पकमभएकोममती(मदन/ममहना/वषम) </label>
                                                                                      <input [nbDatepicker]="datepicker">
                                                                                      <nb-datepicker #datepicker></nb-datepicker> <br/>
                                                                                      </div>
                                                                                    </div>

                                                                                    <div class="col-md-12">
                                                                                      <div class="form-group">
                                                                                    <label for="inputDate" class="label">अक्तन्तमपटकसम्पकमभएकोममती(मदन/ममहना/वषम).. </label>
                                                                                    <input [nbDatepicker]="datepicker">
                                                                                    <nb-datepicker #datepicker></nb-datepicker> <br/>
                                                                                    </div>
                                                                                  </div>

                                                                                  <div class="col-md-12">
                                                                                    <div class="form-group">
                                                                                      <label for="inputFirstName" class="label">कु नैपमनसान्दमभमककु राः </label>
                                                                                      <input type="text" nbInput placeholder="">
                                                                                      </div>
                                                                                      </div>

                                                                                      <div class="col-md-12">
                                                                                        <div class="form-group">
                                                                                          <label for="" class="label"
                                                                                            >एक्सपोजरकोआधारमासम्पकम कोवगीकरणः</label
                                                                                          >
                                                                                          <div class="col-sm-6">
                                                                                            <nb-radio-group id="inputCaseStatus" class="row">
                                                                                              <nb-radio>नमजक</nb-radio>
                                                                                              <nb-radio>सामान्य </nb-radio>
                                                                                              <nb-radio>उच्चजोक्तिम६ </nb-radio>


                                                                                            </nb-radio-group>
                                                                                            </div>
                                                                                          </div>
                                                                                          </div>




                                                                                            </nb-accordion-item-body>
                                                                                          </nb-accordion-item>
                                                                                         </nb-accordion>

                                    <!--PART 6-->

                                    <nb-accordion>
                                      <nb-accordion-item>
                                       <nb-accordion-item-header>६. क्लक्लदनकलजानकारी</nb-accordion-item-header>
                                       <nb-accordion-item-body>






                                                <div class="col-md-12">
                                                  <div class="form-group">
                                                    <label for="" class="label">२.१हाििक्षणः</label>
                                                    <div class="col-sm-6">
                                                      <nb-radio-group id="inputCaseStatus" class="row">
                                                        <nb-radio>छ</nb-radio>
                                                        <nb-radio>छैन </nb-radio>


                                                      </nb-radio-group>
                                                      </div>
                                                    </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                      <div class="form-group">
                                                        <label for="" class="label">२.२यमदछैनभने, संक्रममतब्यक्तिसंगएक्सपोजरपछीकु नैपमनकोमभड१९संगसम्बक्तन्धतिक्षणहरुदेिापरेकोछ? </label>
                                                        <div class="col-sm-6">
                                                          <nb-radio-group id="inputCaseStatus" class="row">
                                                            <nb-radio>छ</nb-radio>
                                                            <nb-radio>छैन </nb-radio>


                                                          </nb-radio-group>
                                                          </div>
                                                        </div>
                                                        </div>

                                                <h1>यमद२.१वा२.२कोउत्तर‘छ’ छभनेिक्षणमववरणकािामगAफारममाजानुहोस्मकनकीउहाँशंकास्पदके सहो॰पूवमअवक्तस्थतअवस्थाहरुछोड्नुहोस्॰</h1>

                                                <div class="col-md-12">
                                                  <div class="form-group">
                                                    <label for="" class="label"
                                                      >पूर्ाअर्क्लथिर्अर्थिा(हरु) लाईसम्पकागननाहोस् </label
                                                    >
                                                    <div class="col-sm-12">
                                                      <nb-card>
                                                      <nb-card-body class="example-items-rows">
                                                      <nb-checkbox status="basic"> गभामवस्था(त्रैमामसक </nb-checkbox>
                                                      <nb-checkbox status="basic"> सुत्के री( ६हप्ता </nb-checkbox>
                                                      <nb-checkbox status="basic"> अटोइम्युनरोगहरु </nb-checkbox>
                                                      <nb-checkbox status="basic"> मुटुरोग, उच्चरिचापसमहत </nb-checkbox>
                                                      <nb-checkbox status="basic"> कु पोषण</nb-checkbox>
                                                      <nb-checkbox status="basic"> इम्युनोडेमफमशयन्सी, एच.आईभीसमहत </nb-checkbox>
                                                      <nb-checkbox status="basic"> मधुमेह</nb-checkbox>
                                                      <nb-checkbox status="basic"> म्यामिगनेन्सी</nb-checkbox>
                                                      <nb-checkbox status="basic"> किेजोकोरोग</nb-checkbox>
                                                      <nb-checkbox status="basic"> अन्य(िुिाउनुहोस्)
                                                      </nb-checkbox>
                                                      <nb-checkbox status="basic"> नशाकोरोग </nb-checkbox>
                                                      <nb-checkbox status="basic"> रेनिरोग</nb-checkbox>
                                                      <nb-checkbox status="basic"> कु नैपमनहोइन
                                                      </nb-checkbox>
                                                      <nb-checkbox status="basic"> दीघमकािीनफोक्सोकोरोगवादम </nb-checkbox>

                                                      </nb-card-body>
                                                    </nb-card>

                                                      </div>
                                                    </div>
                                                    </div>





                                                          </nb-accordion-item-body>
                                                        </nb-accordion-item>
                                                       </nb-accordion>



                                    <!--PART 7-->

                                    <nb-accordion>
                                      <nb-accordion-item>
                                       <nb-accordion-item-header>७. कन्ट्याक्टकोिामगमिइएकोएक्सन</nb-accordion-item-header>
                                       <nb-accordion-item-body>






                                                <div class="col-md-12">
                                                  <div class="form-group">
                                                    <label for="" class="label">लइएकोदनर्ायः</label>
                                                    <div class="col-sm-6">
                                                      <nb-radio-group id="inputCaseStatus" class="row">
                                                        <nb-radio>कन्ट्याक्टअस्पतािमाभनामगररयो</nb-radio>
                                                        <nb-radio>कन्ट्याक्टिस्टः </nb-radio>
                                                        <nb-radio> क्वारेक्तिनमारेफरगररयो</nb-radio>
                                                        <nb-radio>होमक्वारेक्तिन </nb-radio>
                                                        <nb-radio>अन्य</nb-radio>


                                                      </nb-radio-group>
                                                      </div>
                                                    </div>
                                                    </div>

                                                <h1>यमदअस्पतािवाक्वारेक्तिनमारेफरगररएकोभएःअस्पतािवाक्वारेक्तिनसेिरकोनामः</h1>

                                                <div class="col-md-12">
                                                  <div class="form-group">
                                                    <label for="inputFirstName" class="label">ठेगानाः </label>
                                                    <input type="text" nbInput placeholder="">
                                                    </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                      <div class="form-group">
                                                        <label for="inputFirstName" class="label">मजल्ाः </label>
                                                        <input type="text" nbInput placeholder="">
                                                        </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                          <div class="form-group">
                                                            <label for="inputFirstName" class="label">प्रदेशः </label>
                                                            <input type="text" nbInput placeholder="">
                                                            </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                              <div class="form-group">
                                                                <label for="inputFirstName" class="label">नगरपामिकाः </label>
                                                                <input type="text" nbInput placeholder="">
                                                                </div>
                                                                </div>

                                                                <div class="col-md-12">
                                                                  <div class="form-group">
                                                                    <label for="inputFirstName" class="label">वाडमनः </label>
                                                                    <input type="text" nbInput placeholder="">
                                                                    </div>
                                                                    </div>






                                                          </nb-accordion-item-body>
                                                        </nb-accordion-item>
                                                       </nb-accordion>






                                   <!--part 8-->

                                   <nb-accordion>
                                    <nb-accordion-item>
                                     <nb-accordion-item-header>८.कन्ट्याक्टकोपरीक्षणक्तस्थती</nb-accordion-item-header>
                                     <nb-accordion-item-body>

                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label for="" class="label"
                                            >कन्ट्याक्टकोपरीक्षणगररएकोछ?(के शसंगअक्तन्तमपटकभेटभएपमछ </label
                                          >
                                          <div class="col-sm-6">
                                            <nb-radio-group id="inputCaseStatus" class="row">
                                              <nb-radio>छ</nb-radio>
                                              <nb-radio>छैन</nb-radio>



                                            </nb-radio-group>
                                            </div>
                                          </div>
                                          </div>

                                          <div class="col-md-12">
                                            <div class="form-group">
                                              <label for="" class="label"
                                                >यमदछभने, परीक्षणकोप्रकारः </label
                                              >
                                              <div class="col-sm-6">
                                                <nb-radio-group id="inputCaseStatus" class="row">
                                                  <nb-radio>RT-PCR   </nb-radio>
                                                  <nb-radio>RDT-Antibody test</nb-radio>
                                                  <nb-radio>अन्य</nb-radio>
                                                </nb-radio-group>
                                                </div>
                                              </div>
                                              </div>

                                              <div class="col-md-12">
                                                <div class="form-group">
                                              <label for="inputDate" class="label">अन्ययमदछभने, जाँचगरेकोममती(मदन/ममहना/वषम) </label>
                                              <input [nbDatepicker]="datepicker">
                                              <nb-datepicker #datepicker></nb-datepicker> <br/>
                                              </div>
                                            </div>

                                            <div class="col-md-12">
                                              <div class="form-group">
                                                <label for="" class="label"
                                                  >पररणामः </label
                                                >
                                                <div class="col-sm-6">
                                                  <nb-radio-group id="inputCaseStatus" class="row">
                                                    <nb-radio>पोजेमटभ  </nb-radio>
                                                    <nb-radio>नेगेमटभ</nb-radio>
                                                    <nb-radio>थाहाछैन९</nb-radio>
                                                  </nb-radio-group>
                                                  </div>
                                                </div>
                                                </div>




                                     </nb-accordion-item-body>
                                    </nb-accordion-item>
                                   </nb-accordion>


                                   <!--part 9-->

                                   <nb-accordion>
                                    <nb-accordion-item>
                                     <nb-accordion-item-header>९. फिोअपक्तस्थती(मनधामररतअनुगमनअवमधकोअन्तमापूराहुने</nb-accordion-item-header>
                                     <nb-accordion-item-body>

                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label for="" class="label"
                                            >फारमपूराभयो </label
                                          >
                                          <div class="col-sm-6">
                                            <nb-radio-group id="inputCaseStatus" class="row">
                                              <nb-radio>कन्ट्याक्टमडस्पोज्ड(िक्षणहरुदेक्तिएन)</nb-radio>
                                              <nb-radio>िक्षणहरुदेक्तियोरअनुसन्धानगररयो</nb-radio>
                                              <nb-radio>के सपुमष्ट्भयो</nb-radio>
                                              <nb-radio>कन्ट्याक्टकोमृत्यु</nb-radio>
                                              <nb-radio>कन्ट्याक्टिस्ट/थाहाछैन</nb-radio>


                                            </nb-radio-group>
                                            </div>
                                          </div>
                                          </div>

                                     </nb-accordion-item-body>
                                    </nb-accordion-item>
                                   </nb-accordion>

                          <!--PART 11-->
                                   <nb-accordion>
                                    <nb-accordion-item>
                                     <nb-accordion-item-header>११.र्थ्ाांकसांकलनगनेकोजानकारी</nb-accordion-item-header>
                                     <nb-accordion-item-body>

                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label for="inputFirstName" class="label"> नाम</label>
                                          <input type="text" nbInput placeholder="">
                                          </div>
                                          </div>

                                          <div class="col-md-12">
                                            <div class="form-group">
                                              <label for="inputFirstName" class="label">संस्थाः </label>
                                              <input type="text" nbInput placeholder="">
                                              </div>
                                              </div>

                                              <div class="col-md-12">
                                                <div class="form-group">
                                              <label for="inputDate" class="label">जन्मममती/उमेरः </label>
                                              <input [nbDatepicker]="datepicker">
                                              <nb-datepicker #datepicker></nb-datepicker> <br/>
                                              </div>
                                            </div>



                                                  <div class="col-md-12">
                                                    <div class="form-group">
                                                      <label for="inputFirstName" class="label">फोननम्बरः </label>
                                                      <input type="text" nbInput placeholder="">
                                                      </div>
                                                      </div>

                                                      <div class="col-md-12">
                                                        <div class="form-group">
                                                          <label for="inputFirstName" class="label">इमेिः </label>
                                                          <input type="text" nbInput placeholder="">
                                                          </div>
                                                          </div>

                                                        </nb-accordion-item-body>
                                                      </nb-accordion-item>
                                                     </nb-accordion>
















</nb-card-body>
</nb-card>
</nb-layout-column>

  <nb-layout-footer>Form B2: Contact follow-up reporting form –for close contactsof confirmed cases(Day 14–21</nb-layout-footer>
</nb-layout>
