<nb-card>
  <div class="row">
    <nb-user
     class="col-sm-2 offset-sm-3"
     color="#ffcccc"
     shape="round"
     name="Form A"
     title="Filled"
     badgeText="✓"
     showInitials=false
    >
    </nb-user>
    <nb-user
      class="col-sm-2"
      color="#ccffcc"
      shape="round"
      name="Source"
      title="Unknown"
      badgeText="?"
      showInitials=false
    ></nb-user>
    <nb-user
     class="col-sm-2"
     color="#ccccff"
     shape="round"
     name="Place"
     title="Prison"
     badgeText="!"
     showInitials=false
    ></nb-user>
  </div>
  <cov-horizontal-numbers></cov-horizontal-numbers>
</nb-card>

<!-- <nb-card>
  <nb-card-body>
    <nb-actions size="medium" fullWidth>
      <nb-action>
        <nb-icon
          class="action-icon"
          icon="calendar-outline"
          badgeText="✓"
          badgePosition="top right"
          badgeStatus="info">
        ></nb-icon>
        <span>Form A</span>
      </nb-action>
      <nb-action>
        <nb-icon
          class="action-icon"
          icon="list-outline"
          badgeText="✓"
          badgePosition="top right"
          badgeStatus="info">
        ></nb-icon>
        <span>Source: Neighbor</span>
      </nb-action>
      <nb-action>
        <nb-icon
          class="action-icon"
          icon="search-outline"
          badgeText="?"
          badgePosition="top right"
          badgeStatus="info">
        ></nb-icon>
        <span>Place: Shop</span>
      </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card> -->
