@font-face {
  font-family: kantipur;
  src: url('../../../../assets/fonts/Kantipur_Reg.ttf');
  style: normal;
  weight: 400;
  stretch: 100;
  index: 0;
}

nb-accordion-item-header {
  background-color: #5f8df0;

}

nb-stepper {
  height:500px;
  width:700px;
}

nb-accordion {
  padding: 10px;

}
.form-b-header {
  font-family: kantipur;
  font-weight: bolder;
  font-size: large;
}

.label {
  font-family: kantipur;
  font-size: larger;
}



nb-card-body.example-items-rows {
  align-items: center;
}

nb-checkbox:not(:only-child) {
  margin-right: 1.5rem;
}

nb-layout-header {
  text-align: center;
  padding-left:550px;
}
