
:host {
  display: block;
  padding: 0;
}

.no-pad {
  padding: 0;
  margin: 0;
}

nb-card.form-cont {
  border: 1px solid transparent;
}

.hub-radio-group {
  color: #000;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.hub-radio-button {
  color: #000;
  margin: 5px;
}

.mat-radio-checked {
  color: pink;
}

.form-a {
  display: block;
  margin-top: 1rem;



  textarea {
    min-height: 3rem;
  }
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}


input {
  border-bottom: 1px solid black;
}

nb-card-body {
  overflow: visible;
  padding-top: 0;

  > * {
    margin-top: 1rem;
  }
}


.full-name-inputs,
.validation-checkboxes {
  display: flex;
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}

// .checkbox-radio {
//   display: flex;
// }

nb-radio {
  padding-left: 10px;
  margin-left: 24px;

}
.radiotitle {

  margin-left: 10px;
}
