<nb-card class="form-cont">
  <nb-card-body>
    <div class="row">

      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label>{{ t.fab.naam | translate }}</mat-label>
          <input matInput autocomplete="off">
          <!-- <mat-hint>E.g. Lalit:324234</mat-hint> -->
        </mat-form-field>
      </div>

      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label> {{ t.fa.reportDate1 | translate }} </mat-label>
          <input matInput fullWidth [nbDatepicker]="reportDatePicker">
          <nb-datepicker #reportDatePicker></nb-datepicker>
        </mat-form-field>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label>{{ t.fa.nameOfPoEorQ | translate }}</mat-label>
          <input matInput autocomplete="off">
        </mat-form-field>
      </div>

      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label> {{ t.fab.hoBhaneDate | translate }} </mat-label>
          <input matInput fullWidth [nbDatepicker]="inputHoBhaneDatePicker">
          <nb-datepicker #inputHoBhaneDatePicker></nb-datepicker>
        </mat-form-field>
      </div>

    </div>
    <br />
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="form-a">
          <label>{{ t.fa.inputCaseStatus | translate }}</label>
          <mat-radio-group color="primary" id="inputCaseStatus">
            <!-- (select)="changeCaseStatus($event) -->
            <mat-radio-button value="{{ t.fab.hoina | translate }}" [checked]="true">{{ t.fab.hoina | translate }}
            </mat-radio-button>
            <mat-radio-button value="{{ t.fab.ho | translate }}">{{ t.fab.ho | translate }}</mat-radio-button>
            <mat-radio-button value="{{ t.fab.thahaChhaina | translate }}">{{ t.fab.thahaChhaina | translate }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
