<nb-card class="form-cont">
  <nb-card-body>
    <div class="row">

      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label>{{ t.fab.naam | translate }}</mat-label>
          <input matInput autocomplete="off">
          <!-- <mat-hint>E.g. Lalit:324234</mat-hint> -->
        </mat-form-field>
      </div>

      <div class="col-md-6 col-lg-6">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label> {{ t.fa.reportDate1 | translate }} </mat-label>
            <input matInput fullWidth [nbDatepicker]="reportDatePicker">
            <nb-datepicker #reportDatePicker></nb-datepicker>
        </mat-form-field>
      </div>

    </div>
    <cov-form-hr-break></cov-form-hr-break>
    <div class="row">

      <div class="col-md-6 col-lg-6">
        <div class="form-group">
          <label class="label">{{ t.fa.inputCaseStatus | translate }}
            <nb-radio-group nbInput fullWidth id="inputCaseStatus" class="row" (onChange)="changeCaseStatus($event)">
              <nb-radio>{{ t.fab.ho | translate }}</nb-radio>
              <nb-radio>{{ t.fab.hoina | translate }}</nb-radio>
              <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>
            </nb-radio-group>
          </label>
        </div>
      </div>

      <div class="col-md-6 col-lg-6">
        <div class="form-group">
          <label class="label">{{ t.fab.hoBhaneDate | translate }}
            <input nbInput fullWidth [nbDatepicker]="inputHoBhaneDatePicker">
            <nb-datepicker #inputHoBhaneDatePicker></nb-datepicker>
          </label>
          <br />
        </div>
      </div>

    </div>
    <br />
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="nameOfPoEorQ" class="label">{{ t.fa.nameOfPoEorQ | translate }}
            <input nbInput fullWidth id="nameOfPoEorQ" type="text">
          </label>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
