<form>
  <nb-card class="form-cont">
    <nb-card-body>
      <div class="row">

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label>{{ t.fab.naam | translate }}</mat-label>
            <input matInput autocomplete="off">
            <!-- <mat-hint>E.g. Lalit:324234</mat-hint> -->
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label> {{ t.fa.reportDate1 | translate }}  </mat-label>
            <input matInput placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label>{{ t.fa.nameOfPoEorQ | translate }}</mat-label>
            <input matInput autocomplete="off">
          </mat-form-field>
        </div>

      </div>

      <div class="row">



        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <mat-label> {{ t.fab.hoBhaneDate | translate }} </mat-label>
            <input matInput placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>



        <div class="col-md-4 col-lg-4">
          <div class="form-a">
            <label class="title">{{ t.fa.inputCaseStatus | translate }}</label>
            <nb-radio-group id="inputCaseStatus" class="row">
              <nb-radio>{{ t.fab.hoina | translate }}</nb-radio>
              <nb-radio>{{ t.fab.ho | translate }}</nb-radio>
              <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

            </nb-radio-group>

          </div>
        </div>
      </div>



    </nb-card-body>
  </nb-card>
</form>
