<nb-card>
  <nb-card-header>Contact Information</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input nbInput type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputJob">Job</label>
          <input nbInput type="text" class="form-control" id="inputJob" placeholder="Job Title">
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
