<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header> {{ t.fa.title | translate }}</nb-card-header>
      <nb-card-body>
        <nb-stepper orientation="horizontal">
          <nb-step label="Step 1">
            <cov-form-a-step-o></cov-form-a-step-o>
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>{{ t.fah.heading1 | translate }}</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <cov-form-a-step-one></cov-form-a-step-one>
                  <nb-accordion>
                    <nb-accordion-item>
                      <nb-accordion-item-header> {{ t.fah.heading1a | translate }} </nb-accordion-item-header>
                      <nb-accordion-item-body>
                        <cov-form-a-step-one-a></cov-form-a-step-one-a>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
                  </nb-accordion>
                  <nb-accordion>
                    <nb-accordion-item>
                      <nb-accordion-item-header>{{ t.fah.heading1b | translate }}
                      </nb-accordion-item-header>
                      <nb-accordion-item-body>
                        <cov-form-a-step-one-b></cov-form-a-step-one-b>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
                  </nb-accordion>
                  <div class=""><br></div>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
            <ng-container *ngTemplateOutlet="hrDivider"></ng-container>
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>{{ t.fah.heading2 | translate }}</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <cov-form-a-step-two></cov-form-a-step-two>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
            <button nbButton disabled nbStepperNext>prev</button>
            <button nbButton matRipple nbStepperNext>next</button>
          </nb-step>
          <ng-container *ngTemplateOutlet="hrDivider"></ng-container>
          <nb-step label="Step 2">
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>{{ t.fah.heading3 | translate }}</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <cov-form-a-step-three></cov-form-a-step-three>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header> {{ t.fah.heading4 | translate }} <label
                    for="inputDate" class="label" style="color:black"> {{ t.fa.sampleCollectionDate | translate }} </label>
                  <input [nbDatepicker]="datepicker">
                  <nb-datepicker #datepicker></nb-datepicker>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <cov-form-a-step-four></cov-form-a-step-four>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>भाग ५. भबरामीको व्यवस्थापन सम्बन्धी </nb-accordion-item-header>
                <nb-accordion-item-body>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">अस्पतालमा भनाष भएको/आइसोलेसनमा </label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छैन</nb-radio>
                          <nb-radio>छ</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">यभद छ भने, अस्पतालमा भनाष भएको भमती (भदन/ मभिना/ वर्ष)
                      </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">भनाष भएको अस्पतालको नाम </label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">आइसोलेसनको स्थानीः </label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>घर</nb-radio>
                          <nb-radio>संस्था</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">नाम र ठेगाना उल्लेि गनुषिोस</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>






                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">आइसोलेसनको भमती (भदन/मभिना/ वर्ष) </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">भबरामीलाई भेक्लन्टलेसनमा रािेको </label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छैन</nb-radio>
                          <nb-radio>छ</nb-radio>
                          <nb-radio>थािा छैन</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>

            <!--PART 6-->

            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>भाग ६. संभाभवत संक्रमणको श्रोत पत्ता लगाउन मदत गने प्रश्निरु (Exposure
                  History)
                  नोिीः भय प्रश्निरु भनदेशनको लागी हुन॰ संभाभवत संक्रमणको श्रोत पत्ता नलगाउनजेल थप प्रश्निरु सोध्नसक्ने॰
                </nb-accordion-item-header>
                <nb-accordion-item-body>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">लक्षण देक्लिएको के सिरुमा लक्षण देक्लिएको १४ भदन अगाडी वा
                        लक्षण
                        नदेक्लिएको के सिरुमा नमुना संकलन गररको भमतीबाि ६ िप्ता अगाडीको ररफरेन्स भमती (भदन/ मभिना/वर्ष)
                      </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">के के सको कोभभड–१९ को संक्रमण भएको ठााँउबाि आएका वा सो ठााँउबाि आएका
                        कु
                        नै व्यक्लि सम्पकष भएको संग सम्पकष भएको छ </label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छ</nb-radio>
                          <nb-radio>छैन</nb-radio>
                          <nb-radio>थािा छैन</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">यभद छ भने </label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>देश भभिै</nb-radio>
                          <nb-radio>देश बाभिर</nb-radio>
                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">नाम </label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">सम्बन्धीः </label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">यभद छ भने, अस्पतालमा भनाष भएको भमती (भदन/ मभिना/ वर्ष)
                      </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">आएको ठााँउ/ देश को नामीः </label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">के के सले कु नै चाडपवषमा वा हुल जम्मा वा सावषजभनक ठााँउिरुमा (बजार,
                        एयरपोिष/ बसपाकष , भचया पसल, प्राथना गने ठााँउ) गएको छ </label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छ</nb-radio>
                          <nb-radio>छैन</nb-radio>
                          <nb-radio>थािा छैन</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">यभद छ भने, उल्लेि गनुषिोला (किााँ र कभिले)</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">के के स उस्तै भबरामी भएको व्यक्लिसंग सम्पकष मा आएको िो? </label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>िो</nb-radio>
                          <nb-radio>िोइन</nb-radio>
                          <nb-radio>थािा छैन</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">यभद छ भने, उल्लेि गनुषिोलाीः (कोसंग, किााँ र
                        कभिले)</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">के के सले कु नै स्वास्थ्य संस्था/ अस्पताल/ धामी–झााँक्री/ भनजी
                        क्लिभनक/
                        और्धी पसल/ ल्याब गएको छ? </label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छ</nb-radio>
                          <nb-radio>छैन</nb-radio>
                          <nb-radio>थािा छैन</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">यभद छ भने, उल्लेि गनुषिोलाीः (कोसंग, किााँ र
                        कभिले)</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <nb-card>
                    <nb-card-body class="example-items-col">
                      <label class="label">संभाभवत संक्रमणको संभाभवत श्रोत पत्ता लगाउने िाले कु नै
                        कथा वा थप जानकारी</label>
                      <textarea nbInput fullWidth placeholder=""></textarea>
                    </nb-card-body>
                  </nb-card>






                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>

            <!--PART 7-->


            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>भाग ७. कन्याक्टिरुको िोज (के सले संक्रमण गरेको हुन सक्ने व्यभतको पभिचान)
                </nb-accordion-item-header>
                <nb-accordion-item-body>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">लक्ष्ण देक्लिएका के सिरुीः के समा लक्ष्ण देक्लिएको २ भदन
                        अगाडी
                        र लक्ष्ण देक्लिएको १४ भदन पभछ सम्मको
                        लक्ष्ण नदेक्लिएका के सिरुीः के सको भनभित गररएको नमुना संकलन गररएको ४ िप्ता अगाडी र १४ भदन पभछ
                        सम्मको
                        ररफरेन्स भमतीीः (भदन/ मभिना/ वर्ष) </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">घरधुरी </label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        के स बसेको घरमा अन्य कोिी बसेको छ? </div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छ</nb-radio>
                          <nb-radio>छैन</nb-radio>
                          <nb-radio>थािा छैन</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="label">
                        घरमा के सलाई कसैले प्रत्यक्ष सेवा कसैले प्रदान गरेको छ? </div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छ</nb-radio>
                          <nb-radio>छैन</nb-radio>
                          <nb-radio>थािा छैन</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>




                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">यभद छ भने, भाग ८ मा नामिरुको सुची उल्लेि गनषुिोला॰</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">संस्था(अस्पताल/ धामीझााँक्री/ भनजी क्लिभनक/ और्धी
                        पसल/ ल्याब) </label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        के के सलाई स्वास्थ्यकमीले प्रत्यक्ष स्वास्थ्य सेवा भदएको छ? </div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छ</nb-radio>
                          <nb-radio>छैन</nb-radio>
                          <nb-radio>थािा छैन</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>



                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">यभद छ भने, भाग ८ मा नामिरुको सुची उल्लेि गनषुिोला॰</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">यातायात </label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        के के सले कु नै सावषजभनक यातायातको साधनमा यािा गरेको छ?</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छ</nb-radio>
                          <nb-radio>छैन</nb-radio>
                          <nb-radio>थािा छैन</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="label">
                        यभद छ भने,केमा यािा गरेको िोीः</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>प्लेन</nb-radio>
                          <nb-radio>याक्सी</nb-radio>
                          <nb-radio>बस/ माइक्रो</nb-radio>
                          <nb-radio>िक</nb-radio>
                          <nb-radio>अन्य</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">यािा गरेको भमतीीः </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">बस/ माइक्रो/ ििक/ अन्यीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">रुिीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">गाडीको नंम्बरीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">भसिको नंम्बरीः(उपलब्ध छ/ भमल्छ भने)</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">गायाक्सीको नंम्बरीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">याक्सीमा चढेको स्थानीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">फलाइि नंम्बरीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">भसिको नंम्बरीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">यािा सुरु गरेको स्थानीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">पुग्नु पने गिब्यीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">यभद धेरै माध्यमबाि यािा गरेको छ भने,प्रत्येक यातायातको
                        भववरण भदनुिोस्॰
                        यातायातमा के ससंग नभजकबाि सम्पकष भएका व्यभतिरु को–को हुन ? भाग ८ मा नामिरुको सुची उल्लेि
                        गनुषिोला॰</label>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">कायाषलय वा कक्षाकोठा </label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        के के स भवद्यालय/ कायाषलय गएको छ?</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छ</nb-radio>
                          <nb-radio>छैन</nb-radio>
                          <nb-radio>थािा छैन</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">यभद छ भने, भवद्यालय/ कायाषलयको नाम उल्लेि गनुषिोला</label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">ठे गानाीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">फोन नंम्बरीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">सुपररवेक्षक/ प्रधानाध्यापकको नामीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">के ससंग नभजकबाि सम्पकष (कन्याक्ट) भएका
                        के ससंग नभजकबाि सम्पकष (कन्याक्ट) भएका व्यक्लििरु
                        को–को हुन ? भाग ८ मा नामिरुको सुची उल्लेि गनुषिोला॰</label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">अन्य बन्द वातावरणिरु </label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        के के सले कसैसाँग अन्य बन्द वातावरणिरुमा (क्वारानिाइन, िोिल/
                        रेिुरेन्ट नभजकको सम्पकष मा कोिी आएका छ?</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छ</nb-radio>
                          <nb-radio>छैन</nb-radio>
                          <nb-radio>थािा छैन</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>



                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">के ससंग नभजकबाि सम्पकष (कन्याक्ट) भएका व्यक्लििरु को–को
                        हुन ? भाग ८ मा नामिरुको सुची उल्लेि गनुषिोला॰</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">सामाभजक कन्याक्ट </label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        के के सले कु नै साथी/नातेदार/भछमेकी वा अरु कसैले भेिेको छ?</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छ</nb-radio>
                          <nb-radio>छैन</nb-radio>
                          <nb-radio>थािा छैन</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>



                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">यभद छ भने, के ससंग नभजकबाि सम्पकष (कन्याक्ट)
                        भएका व्यक्लििरु को–को हुन ?भाग ८ मा नामिरुको सुची उल्लेि गनुषिोला॰</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">कायषक्रमिरु</label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        के के स कु नै सामाभजक कायषक्रम/भोज/ हुलमुल/ धामीकसेवािरुमा समावेश हुन गएको छ ?</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छ</nb-radio>
                          <nb-radio>छैन</nb-radio>
                          <nb-radio>थािा छैन</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">यभद छ भने, सामाभजक कायषक्रम/ संयोजकको नामिरु उल्लेि
                        गनुषिोस्</label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">ठे गानाीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">फोन नंम्बरीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">कायषक्रमको भमतीीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">के ससंग नभजकबाि सम्पकष (कन्याक्ट) भएका व्यक्लििरु
                        को–को हुन ? भाग ८ मा नामिरुको सुची उल्लेि गनुषिोला॰</label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">के ससाँग सम्पकष भएका कन्याक्टिरु पत्ता लगाउने िाले कु नै
                        पभन भवस्तृत जानकारीिरुीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="label">
                        भाग छ मा एक वा धेरै कन्टयाक्टिरु पत्ता लागेका छन् भक छैनन् ?</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>छ</nb-radio>
                          <nb-radio>छैन</nb-radio>


                        </nb-radio-group>
                      </div>
                    </div>
                  </div>


                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>

            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>भाग ७.१. जानकारी संकलन गनेको जानकारी</nb-accordion-item-header>
                <nb-accordion-item-body>



                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">नामीः </label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">सम्पकष नंम्बरीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">संस्थाीः </label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">इमेल ठेगानाीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">फाराम पूरा गरेको भमतीीः (भदन/मभिना/वर्ष) </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>


                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>

            <!--PART 8-->

            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>भाग ८. कन्ट्याक्टहरुको सूचि</nb-accordion-item-header>
                <nb-accordion-item-body>



                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">सं.नं </label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">सं.नं भलड्ड</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">संस्थाीः </label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">इमेल ठेगानाीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">सं.नं भलड्ड</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">संस्थाीः </label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">इमेल ठेगानाीः</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">फाराम पूरा गरेको भमतीीः (भदन/मभिना/वर्ष) </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>


                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>


            <button nbButton matRipple nbStepperPrevious>prev</button>
            <button nbButton disabled nbStepperNext>next</button>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
      <nb-card-footer>
        Interim reporting form for confirmed or probable cases of COVID-19
      </nb-card-footer>
    </nb-card>

  </div>
</div>

<ng-template #hrDivider>
  <div class="row">
    <div class="col-sm-12">
      <hr />
    </div>
  </div>
</ng-template>
