<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header> {{ t.fa.title | translate }}</nb-card-header>
      <nb-card-body>
        <nb-stepper orientation="horizontal">
          <nb-step  class="just-breathe" label="{{ t.fah.step1 | translate }}">
            <nb-accordion [multi]="true">
              <nb-accordion-item [expanded]="true">
                <nb-accordion-item-header> {{ t.fah.heading0 | translate }} </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <cov-form-a-step-o></cov-form-a-step-o>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>{{ t.fah.heading1 | translate }}</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <cov-form-a-step-one></cov-form-a-step-one>
                  <nb-accordion>
                    <nb-accordion-item>
                      <nb-accordion-item-header> {{ t.fah.heading1a | translate }} </nb-accordion-item-header>
                      <nb-accordion-item-body>
                        <cov-form-a-step-one-a></cov-form-a-step-one-a>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
                  </nb-accordion>
                  <nb-accordion>
                    <nb-accordion-item>
                      <nb-accordion-item-header>{{ t.fah.heading1b | translate }}
                      </nb-accordion-item-header>
                      <nb-accordion-item-body>
                        <cov-form-a-step-one-b></cov-form-a-step-one-b>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
                  </nb-accordion>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>

            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>{{ t.fah.heading2 | translate }}</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <cov-form-a-step-two></cov-form-a-step-two>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
            <cov-form-hr-break></cov-form-hr-break>
            <nb-card class="prev-next">
              <button nbButton disabled nbStepperNext>prev</button>
              <button nbButton matRipple nbStepperNext>next</button>
            </nb-card>

          </nb-step>
          <cov-form-hr-break></cov-form-hr-break>
          <nb-step label="{{ t.fah.step2 | translate }}">

            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>{{ t.fah.heading3 | translate }}</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <cov-form-a-step-three></cov-form-a-step-three>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>

            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header> {{ t.fah.heading4 | translate }}

                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <label for="inputDate" class="label" style="color:black"> {{ t.fa.sampleCollectionDate | translate }}
                  </label>
                  <input [nbDatepicker]="datepicker">
                  <nb-datepicker #datepicker></nb-datepicker>
                  <cov-form-a-step-four></cov-form-a-step-four>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>

            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>{{ t.fah.heading5 | translate }}</nb-accordion-item-header>
                <nb-accordion-item-body>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">{{ t.fa.isolationHospital | translate }}</label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">{{ t.fa.hospitalization | translate }}
                      </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.hospitalName | translate }} </label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">{{ t.fa.hospitalLocation | translate }} </label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fb.home | translate }}</nb-radio>
                          <nb-radio>{{ t.fb.organization | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.nameAndLocation | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>






                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">{{ t.fa.isolationDate | translate }}</label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">{{ t.fa.ventilation | translate  }}</label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>

            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>{{ t.fah.heading6 | translate }}
                </nb-accordion-item-header>
                <nb-accordion-item-body>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">{{ t.fa.last14daysSymptom | translate }}
                      </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">{{ t.fa.travelledToInfected | translate }} </label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">{{ t.fa.ifYes | translate }}</label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fa.insideCountry | translate }}</nb-radio>
                          <nb-radio>{{ t.fa.outsideCountry | translate }}</nb-radio>
                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fab.naam | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.relative | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">{{ t.fa.hospitalization | translate }}
                      </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.visitedPlaceCountry | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">{{ t.fa.festivities | translate }} </label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.personName | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">{{ t.fa.beenInContact | translate }} </label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.ho | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.hoina | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.personName | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label">{{ t.fa.recoveryOrgHospitalAdmitted | translate }}</label>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.recoveryOrgHospitalName | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <nb-card>
                    <nb-card-body class="example-items-col">
                      <label class="label">{{ t.fa.origin | translate }}</label>
                      <textarea nbInput fullWidth placeholder=""></textarea>
                    </nb-card-body>
                  </nb-card>






                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>

            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>{{ t.fah.heading7 | translate }}
                </nb-accordion-item-header>
                <nb-accordion-item-body>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">{{ t.fa.symptomDetails | translate }} </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">{{ t.fa.gharDhuri | translate }} </label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        के स बसेको घरमा अन्य कोिी बसेको छ? </div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="label">
                        घरमा के सलाई कसैले प्रत्यक्ष सेवा कसैले प्रदान गरेको छ? </div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>




                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.ifYesInform | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">{{ t.fa.orgName | translate }} </label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        के के सलाई स्वास्थ्यकमीले प्रत्यक्ष स्वास्थ्य सेवा भदएको छ? </div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>



                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.ifYesInform2 | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">{{ t.fa.transport | translate}} </label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        के के सले कु नै सावषजभनक यातायातको साधनमा यािा गरेको छ?</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="label">
                        यभद छ भने,केमा यािा गरेको िोीः</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>प्लेन</nb-radio>
                          <nb-radio>याक्सी</nb-radio>
                          <nb-radio>बस/ माइक्रो</nb-radio>
                          <nb-radio>िक</nb-radio>
                          <nb-radio>अन्य</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">{{ t.fa.travelDate | translate }} </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.vehicleType | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.re | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.vehicleNumber | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.someNumber1 | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.someNumber2 | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.someDepartureLocation | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.someNumber3 | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.someNumber4 | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.someStartLocation | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.destination | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.someMedium | translate }}</label>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">{{ t.fa.officeOrClassroom | translate }}</label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        के के स भवद्यालय/ कायाषलय गएको छ?</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.officeName | translate }}</label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label"> {{ t.fa.address | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.phoneNumber | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.supervisor | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.contact | translate }}</label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">{{ t.fa.someClosedEnv | translate }}</label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        के के सले कसैसाँग अन्य बन्द वातावरणिरुमा (क्वारानिाइन, िोिल/
                        रेिुरेन्ट नभजकको सम्पकष मा कोिी आएका छ?</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>



                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.someContact1 | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">{{ t.fa.someContact2 | translate }}</label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        {{ t.fa.someContact2 | translate }}</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>



                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.someContact3 | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="" class="label" style="color:black">{{ t.fa.someContact4 | translate }}</label>

                    </div>
                    <div class="form-group">
                      <div class="label">
                        के के स कु नै सामाभजक कायषक्रम/भोज/ हुलमुल/ धामीकसेवािरुमा समावेश हुन गएको छ ?</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

                        </nb-radio-group>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">यभद छ भने, सामाभजक कायषक्रम/ संयोजकको नामिरु उल्लेि
                        गनुषिोस्</label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.address | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.phone | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.someProgram | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.someContact6 | translate }}</label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.someContact7 | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="label">
                        भाग छ मा एक वा धेरै कन्टयाक्टिरु पत्ता लागेका छन् भक छैनन् ?</div>
                      <div class="col-sm-6">
                        <nb-radio-group id="inputCaseStatus" class="row">
                          <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                          <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>


                        </nb-radio-group>
                      </div>
                    </div>
                  </div>


                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>

            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>{{ t.fah.heading8 | translate }}</nb-accordion-item-header>
                <nb-accordion-item-body>



                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.name | translate }} </label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.phoneNumber | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fb.organization | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fab.email | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>


                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">{{ t.fa.formSubmittedDate | translate }}</label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>


                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>

            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>{{ t.fah.heading9 | translate }}</nb-accordion-item-header>
                <nb-accordion-item-body>



                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.serialNumber | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fa.serialNumberValid | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fb.organization | translate }} </label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="label">{{ t.fab.email | translate }}</label>
                      <input type="text" nbInput placeholder="">
                    </div>
                  </div>



                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="inputDate" class="label">{{ t.fa.formSubmittedDate | translate }} </label>
                      <input [nbDatepicker]="datepicker">
                      <nb-datepicker #datepicker></nb-datepicker> <br />
                    </div>
                  </div>


                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
            <cov-form-hr-break></cov-form-hr-break>
            <nb-card class="prev-next">
              <button nbButton matRipple nbStepperPrevious>Prev</button>
              <button nbButton disabled nbStepperNext>Next</button>
            </nb-card>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
      <nb-card-footer>
        Interim reporting form for confirmed or probable cases of COVID-19
      </nb-card-footer>
    </nb-card>

  </div>
</div>
