@font-face {
  font-family: kantipur;
  src: url('../../../../assets/fonts/Kantipur_Reg.ttf');
  style: normal;
  weight: 400;
  stretch: 100;
  index: 0;
}

nb-stepper {
  height: 500px;
  width: 75vw;
}

nb-accordion {
  padding: 10px;

}

nb-card.prev-next {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  border: 1px solid transparent;
}

.form-a-header {
  font-family: kantipur;
  font-weight: bolder;
  font-size: xx-large;
}

.label {
  font-family: kantipur;
  font-size: larger;
}


nb-card-body.example-items-rows {
  align-items: center;
}


nb-checkbox:not(:only-child) {
  margin-right: 1.5rem;
}

nb-card-header {
  text-align: center;
  font-size: x-large;
}
