table {
  width: 100%;
}

.mat-button-base {
  margin: 6px;
}

.iconav {
  speak: none;
}

.title {
  vertical-align: middle;
  margin-top: 5px;
  margin-left: 15px;
}

.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.nav a {
  display: block;
  background-color: #ffffff;


  text-decoration: none;
  color: rgb(53, 52, 52);
  background: #f5f5f5;

  margin-left: 16px;
  width: 36px;
  height: 36px;
  position: relative;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;

  box-shadow: 3px 3px 8px #aaa, inset 0 2px 3px #fff;
}

.nav a:hover {
  background: #3366ff;
  color: #fff;
}

.nav li::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.nav a::before {
  content: '';
  display: block;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 8px 8px 8px 8px rgb(15, 14, 14);
}
