<nb-card class="form-cont">
  <nb-card-body>
      <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="form-group">
              <label class="title">{{ t.fa.occupation | translate }}</label>
                <nb-card>
              <nb-card-body class="row">
              <div class="col-md-2 col-lg-2">
              <nb-checkbox matRipple status="basic">{{ t.fa.student | translate}} </nb-checkbox>
             <nb-checkbox matRipple status="basic">{{ t.fa.healthLabWorkers | translate}} </nb-checkbox>
              <nb-checkbox matRipple status="basic"> {{ t.fa.healthCareWorker | translate}}</nb-checkbox>
              <nb-checkbox matRipple status="basic">{{ t.fa.animalHelpWorkers | translate}}</nb-checkbox>
              </div>
              <div class="col-md-2 col-lg-2">
                <nb-checkbox matRipple status="basic">{{ t.fa.hotelResturant | translate}}</nb-checkbox>
               <nb-checkbox matRipple status="basic"> {{ t.fa.security | translate}}</nb-checkbox>
                <nb-checkbox matRipple status="basic">{{ t.fa.garbageCollection | translate}}</nb-checkbox>
                <nb-checkbox matRipple status="basic"> {{ t.fa.others | translate}}</nb-checkbox>

            </div>
              </nb-card-body>
            </nb-card>
          </div>
      </div>
      </div>

  <div class="row">
    <div class="col-md-8 col-lg-8">
      <div class="form-a">
        <label class="title">{{ t.fa.last14DaysTravel | translate }}</label>
        <nb-radio-group id="inputCaseStatus" name="travel-before-14-days" class="row">
          <nb-radio>{{ t.fab.bhayo | translate }}</nb-radio>
          <nb-radio>{{ t.fab.bhayena | translate }}</nb-radio>
          <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

        </nb-radio-group>

      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-md-4 col-lg-4">
      <mat-form-field appearance="fill" class="form-a">
        <mat-label>{{ t.fa.country | translate}}</mat-label>
        <input matInput autocomplete="off">
      </mat-form-field>
    </div>


  <div class="col-md-4 col-lg-4">
    <mat-form-field appearance="fill" class="form-a">
      <mat-label>{{ t.fa.city | translate}}</mat-label>
      <input matInput autocomplete="off">
    </mat-form-field>
  </div>

    </div>

    <div class="row">
      <div class="col-md-4 col-lg-4">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label>{{ t.fa.visitDate | translate}}</mat-label>
          <input matInput autocomplete="off">
        </mat-form-field>
      </div>


    <div class="col-md-4 col-lg-4">
      <mat-form-field appearance="fill" class="form-a">
        <mat-label>{{ t.fa.returnDate | translate}}</mat-label>
        <input matInput autocomplete="off">
      </mat-form-field>
    </div>

      </div>

      </nb-card-body>
    </nb-card>













