<div class="col-md-12">
  <div class="form-group">
    <label for="" class="label">पेशा (भमल्नेमा ठीक भचन्ह लगाउनु िोला) </label>
    <div class="col-sm-6">
      <nb-radio-group id="inputCaseStatus" class="row">
        <nb-radio>भवद्याथी</nb-radio>
        <nb-radio>स्वास्थ्यकमी</nb-radio>
        <nb-radio>स्वास्थ्य प्रयोगशाला कायषकताष</nb-radio>
        <nb-radio>जनावरसंग काम गने</nb-radio>
        <nb-radio>सेक्युररिी</nb-radio>
        <nb-radio>िोिेल/ रेिुरेन्ट/ बारिरु</nb-radio>
        <nb-radio>फोिर व्यवस्थापनको काम गने</nb-radio>
        <nb-radio>अन्य (िुलाउनुिोस्)</nb-radio>

      </nb-radio-group>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group">
    <label for="" class="label">के भबरामीले लक्ष्ण देक्लिनु भन्दा १४ भदन अगाडी वा लक्ष्ण नदेक्लिएको के
      सिरुमा नमुना संकलनका गररको भमतीबाि ६ िप्ता अगाडी कतै यािा गरेको भथयो ]</label>
    <div class="col-sm-6">
      <nb-radio-group id="inputCaseStatus" class="row">
        <nb-radio>भथयो</nb-radio>
        <nb-radio>भथएन</nb-radio>
        <nb-radio> थािा छै न यभद छ भने, ठााँउिरु उल्लेि गनुषिोस्</nb-radio>

      </nb-radio-group>
    </div>
  </div>
</div>


<div class="col-md-12">
  <div class="form-group">
    <label class="label">देश </label>
    <input type="text" nbInput placeholder="">
  </div>
</div>

<div class="col-md-12">
  <div class="form-group">
    <label class="label">शिर
    </label>
    <input type="text" nbInput placeholder="">
  </div>
</div>

<div class="col-md-12">
  <div class="form-group">
    <label for="inputDate" class="label">सो स्थान गमन भएको भमती (भदन/ मभिना/वर्ष) </label>
    <input [nbDatepicker]="datepicker">
    <nb-datepicker #datepicker></nb-datepicker> <br />
  </div>
</div>

<div class="col-md-12">
  <div class="form-group">
    <label for="inputDate" class="label">नेपाल आगमनको भमती (भदन/मभिना/वर्ष) </label>
    <input [nbDatepicker]="datepicker">
    <nb-datepicker #datepicker></nb-datepicker> <br />
  </div>
</div>
