<div class="col-md-12">
  <div class="form-group">
    <label class="label">{{ t.fa.country | translate }}
      <input type="text" nbInput placeholder="">
    </label>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group">
    <label class="label">{{ t.fa.province | translate }}
      <input type="text" nbInput placeholder="">
    </label>
  </div>
</div>


<div class="col-md-12">
  <div class="form-group">
    <label class="label">{{ t.fa.district | translate }}
      <input type="text" nbInput placeholder="">
    </label>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group">
    <label class="label">{{ t.fa.wardNum | translate }}
      <input type="text" nbInput placeholder="">
    </label>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group">
    <label class="label">{{ t.fa.municipality | translate }}

      <input type="text" nbInput placeholder="">
    </label>
  </div>
</div>

<div class="col-md-12">
  <div class="form-group">
    <label class="label">{{ t.fa.tole | translate }}

      <input type="text" nbInput placeholder="">
    </label>
  </div>
</div>
