<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Point of Entry Returnee Reporting</nb-card-header>
      <nb-card-body>
        <ngx-returnee-details></ngx-returnee-details>
        <ng-container *ngTemplateOutlet="hrDivider"></ng-container>
        <ngx-returnee-location-details></ngx-returnee-location-details>
        <ng-container *ngTemplateOutlet="hrDivider"></ng-container>
        <ngx-symptom-record></ngx-symptom-record>
        <ng-container *ngTemplateOutlet="hrDivider"></ng-container>
        <ngx-rdt-test-record></ngx-rdt-test-record>
        <ng-container *ngTemplateOutlet="hrDivider"></ng-container>
        <ngx-pcr-test-record></ngx-pcr-test-record>
        <ng-container *ngTemplateOutlet="hrDivider"></ng-container>
        <nb-card>
          <button type="submit" status="primary" nbButton>
            <nb-icon icon="save-outline"></nb-icon> Save Returnee's Details
          </button>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<ng-template #hrDivider>
  <div class="row">
    <div class="col-sm-12">
      <hr />
    </div>
  </div>
</ng-template>
