:host {
  display: block;
  padding: 0;
  margin: 0;
}


.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.overflowx {
  overflow-x: auto;
}

nb-card-body, nb-tabset {
  padding: 90 5 0 5;
}

nb-tab {
  padding: 0;
  margin: 0;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}

:host nb-tab {
  padding: 1.25rem;
}

