<nb-card>
  <nb-card-body>
    <ng-container *ngIf="( innerWidthObs | async ) ; $implicit as innerWidth">
      <nb-tabset (changeTab)="tabChanged($event)" [ngClass]="{'smallscr': innerWidth >= CUTOFF }">
        <nb-tab
          tabTitle="New Cases"
          tabIcon="plus-circle-outline"
          badgeText="0"
          badgePosition="top right"
          badgeStatus="success"
          tabId="new-cases"
          [active]="checkCurrent('new-cases')"
        >
        </nb-tab>

        <nb-tab tabTitle="Active Cases" tabIcon="calendar-outline" tabId="active-cases" [active]="checkCurrent('active-cases')">
        </nb-tab>

        <nb-tab tabTitle="Recovered" tabIcon="arrowhead-right-outline"  tabId="recovered" [active]="checkCurrent('recovered')">
        </nb-tab>

        <nb-tab tabTitle="Quarantined" tabIcon="home-outline" tabId="quarantined" [active]="checkCurrent('quarantined')">
        </nb-tab>

        <nb-tab tabTitle="Swabs" tabIcon="thermometer-plus-outline"  tabId="swabs" [active]="checkCurrent('swabs')">
        </nb-tab>

        <nb-tab tabTitle="Tests" tabIcon="checkmark-square-outline"  tabId="tests" [active]="checkCurrent('tests')">
        </nb-tab>

        <nb-tab tabTitle="Returnees" tabIcon="people-outline" badgeText="12" badgeStatus="warning" tabId="returnees" [active]="checkCurrent('returnees')">
        </nb-tab>

        <nb-tab tabTitle="Deaths" tabIcon="person-delete-outline" badgeText="99+" badgeStatus="danger" tabId="deaths" [active]="checkCurrent('deaths')">
        </nb-tab>

      </nb-tabset>
    </ng-container>
    <cov-map></cov-map>
    <cov-dashboard-grid></cov-dashboard-grid>
  </nb-card-body>
  <!-- <nb-card-footer>Source: Bipad</nb-card-footer> -->
</nb-card>
