

<nb-card class="form-cont">
  <nb-card-body>
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label>{{ t.fa.country | translate }}</mat-label>
          <input matInput autocomplete="off">
          <!-- <mat-hint>E.g. Lalit:324234</mat-hint> -->
        </mat-form-field>
      </div>

      <div class="col-md-4 col-lg-4">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label >{{ t.fa.province | translate }} </mat-label>
          <input matInput autocomplete="off">
        </mat-form-field>
      </div>

      <div class="col-md-4 col-lg-4">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label>{{ t.fa.district | translate }}</mat-label>
          <input matInput autocomplete="off">
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4 col-lg-4">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label>{{ t.fa.wardNum | translate }} </mat-label>
          <input matInput autocomplete="off">
        </mat-form-field>
      </div>

      <div class="col-md-4 col-lg-4">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label>{{ t.fa.municipality | translate }}</mat-label>
          <input matInput autocomplete="off">
        </mat-form-field>
      </div>

      <div class="col-md-4 col-lg-4">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label> {{ t.fa.tole | translate }}</mat-label>
          <input matInput autocomplete="off">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-lg-4">
        <mat-form-field appearance="fill" class="form-a">
          <mat-label> {{ t.fa.currentLocation | translate }}</mat-label>
          <input matInput autocomplete="off">
        </mat-form-field>
      </div>

    </div>

  </nb-card-body>
</nb-card>






