db/_users.json filter=lfs diff=lfs merge=lfs -text
db/ns_borders.json filter=lfs diff=lfs merge=lfs -text
db/ns_districts.json filter=lfs diff=lfs merge=lfs -text
db/ns_highways.json filter=lfs diff=lfs merge=lfs -text
db/ns_kathmandu.json filter=lfs diff=lfs merge=lfs -text
db/ns_dryports.json filter=lfs diff=lfs merge=lfs -text
db/rdt_tests.json filter=lfs diff=lfs merge=lfs -text
db/usage_audit.json filter=lfs diff=lfs merge=lfs -text
db/ns_gapanapas.json filter=lfs diff=lfs merge=lfs -text
db/ns_gov.json filter=lfs diff=lfs merge=lfs -text
db/pcr_tests.json filter=lfs diff=lfs merge=lfs -text
db/replicator.json filter=lfs diff=lfs merge=lfs -text
db/covidsimteam.json filter=lfs diff=lfs merge=lfs -text
db/districts.json filter=lfs diff=lfs merge=lfs -text
db/foreign_returnees.json filter=lfs diff=lfs merge=lfs -text
db/matrix.json filter=lfs diff=lfs merge=lfs -text
db/schedule.json filter=lfs diff=lfs merge=lfs -text
db/patients.json filter=lfs diff=lfs merge=lfs -text
db/roles.json filter=lfs diff=lfs merge=lfs -text
db/wards.json filter=lfs diff=lfs merge=lfs -text
